<% content_for :head do %>
  <%= stylesheet_link_tag 'participants' %>
<% end %>

<script type="text/javascript">
    INFO_URL = "/<%= "#{url_encode(@event.slug)}" %>/admin/participations/get_info";
    EVENT_ID = <%= @event.id %>;
</script>

<div class="errors" style="color:red;"></div>
<div class="messages"></div>
<div id="flash_messages"></div>

<% participant_counter_prefix = 'participant-' %>
<% participant_counter = 0 %>

<%= form_for(@team, {url: @path, remote: true, authenticity_token: true}) do |team_form| %>

  <% team = team_form.object %>

  <div class="super-un-slider">
    <h3>Team Information</h3>

    <div class="row">
      <div class="field col-md-3">
        <%= team_form.label :name %>
        <%= team_form.text_field :name, :class => 'validate[required] form-control' %>
        <%= team_form.hidden_field :event_id, value: @event.id %>
      </div>
      <div class="field col-md-3">
        <%= team_form.label :company %>
        <%= team_form.text_field :company, :class => 'form-control' %>
      </div>
      <div class="field col-md-2">
        <%= team_form.label :number %>
        <%= team_form.text_field :number, :class => 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field col-md-10">
        <%= team_form.check_box :does_receive_notifications, :style => "display:inline; float:left; width:30px;" %>Captain receives team leaderboard notifications?
      </div>
    </div>

    <% if @event.has_premium_categories? %>
      <h4>Registered for Premium Categories:</h4>
        <div style="vertical-align:top;">
        <%  last_super_category_id = nil %>
        <%= team_form.fields_for :team_premium_category_groupings, @team.team_premium_category_groupings.sort_by { |item| [item.premium_category_grouping.name] } do |premium_form| %>
            <div style="margin-left:20px;">
                <%= premium_form.check_box :_destroy, {:checked => premium_form.object.persisted?}, '0', '1' -%>
                <%= premium_form.hidden_field :id, value: premium_form.object.id %>
                <%= premium_form.hidden_field :premium_category_grouping_id, value: premium_form.object.premium_category_grouping.id %>
                <%= format_premium_grouping_name(premium_form.object.premium_category_grouping) %>
            </div>
        <% end -%>
      </div>
      <br/><br/>
    <% end %>

    <div class="row">
      <div class="field col-md-12">
        <%= team_form.label :notes, 'Additional Notes' %>
        <%= team_form.text_field :notes, :class => 'form-control' %>
      </div>
    </div>

    <div class="row"></div>
    <hr/>

    <br>

    <h3>Captain Information</h3>
    <div>
      <p>Drag the participant who will be the team captain below.</p>
      <p><b>Note:</b> The team captain only needs to be listed once on this team page.</p>
    </div>
    <br/>
    <div class="captain-dropzone dropzone">

    </div>

    <hr/>

    <h3>Participant Information</h3>

    <div class="participant-info">
      <div>Add and edit other participants below.</div>
      <br/>
      <div id="participants">

        <%  team_participants = team.participations %>

        <%= team_form.fields_for :participations, team_participants  do |participation_form| %>
          <div class="participant-dropzone dropzone">

            <% participant = participation_form.object.participant %>

            <div id="<%= participant_counter_prefix %><%= participant_counter %>" class="participant draggable drag-drop <%=  participant.id.nil?  ? 'new' : 'known' %>">

              <div class="header">
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-md-21">
                      <span class="warning">
                        Updating this participant will affect prior events. If you have selected this person on accident, please select "Clear" or "Remove".
                      </span>

                      <span class="new-message">
                        New Participant
                      </span>
                    </div>

                    <div>
                      <!--<i class="fa fa-chevron-down chevron pull-right"></i>-->
                    </div>

                  </div>
                </div>
              </div>

              <div class="body">
                <%= participation_form.hidden_field :_destroy, :value => '0', :class => 'participant-persist-field' %>
                <%= participation_form.hidden_field :id  %>


                <%= participation_form.fields_for :participant, participant do |participant_form| %>

                  <%= render partial: 'participant', :collection => [participant], locals: {participant_form: participant_form, team: team, participation_form: participation_form }  %>

                <% end %>
              </div>

            </div>

            <% participant_counter = participant_counter + 1 %>

          </div>
        <% end %>

      </div>

      <br>

      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <div id="add-participant" class="btn btn-success form-control">+ Add Participant</div>
        </div>
      </div>

    </div>
    <!-- end array of participants container -->

  </div>

    <br>

    <% if @non_user_edit %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= recaptcha_tags :ajax => true %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <%= submit_tag "Submit", :class => 'btn btn-default form-control' %>
      </div>
    </div>
<% end %>

<%= javascript_include_tag 'ui/interact'  %>

<script>
  currentParticipantNumber = <%= participant_counter %>;
  currentParticipantPrefix = '<%= participant_counter_prefix %>';
</script>