<%
    # Initialize this partial with:
    #
    # team_list                 The array of Teams to display.
    # event                     The Event we are in.
    # class_name                The string name of the class to give the ta ble.
    # show_checked_in_status    A boolean of whether to display checked-in status.
%>

<table class="table table-striped <%= class_name %>">
<thead>
    <tr>
      <th>#</th>
      <% if show_checked_in_status %>
          <th>✓</th>
      <% end %>
      <th>Name</th>
      <th>Team #</th>
      <th>Company</th>
      <th>Participants</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
<tbody>
    <% team_list.each_with_index do |team,index| %>
        <tr>
          <td><%= (index+1).to_s %></td>
          <% if show_checked_in_status %>
              <td><%= team.checked_in ? "✓" : "" %></td>
          <% end %>
          <td><%= team.name %></td>
          <td><%= team.number %></td>
          <td><%= team.company %></td>
          <td><%= team.participations.count %></td>
          <td><% if can? :show, team %><%= link_to '<i class="fa fa-folder-open"></i> Show'.html_safe, team_path(:event_slug => event.slug, :id => team.id) %><% end %></td>
          <td><% if can? :edit, team %><%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_team_path(:event_slug => event.slug, :id => team.id) %><% end %></td>
          <td><%= render partial: 'teams/partials/team_badge_button', locals: {event: event, team: team} %></td>
          <td><% if can? :destroy, team %><%= link_to '<i class="fa fa-trash"></i>'.html_safe, team_path(:event_slug => event.slug, :id => team.id), method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
        </tr>
    <% end %>
</tbody>
</table>

<script type="text/javascript">
  $('.<%= class_name %>').DataTable(
      {
          "order" : [[0,'asc']],
          "lengthMenu" : [[25, 50, 100, -1],[25, 50, 100, 'All']]
      }
  );
</script>