<% participant = participant_form.object %>
  <div class="row">
    <div class="field col-md-3">
      <%= participant_form.label :first_name, 'First Name' %>
      <%= participant_form.autocomplete_field :first_name, autocomplete_participation_form_participations_path, data: { noMatchesLabel: 'No participants found' }, class: 'validate[required] first-name-field' %>
      <%= participant_form.hidden_field :id , :class => 'participant-id-field' %>
      <%= participant_form.hidden_field :is_captain, value: team.captain_id == participant.id ? 1 : 0, class: 'is-captain-field' %>
    </div>
    <div class="field col-md-3">
      <%= participant_form.label :last_name, 'Last Name' %>
      <%= participant_form.text_field :last_name, :class => 'validate[required] last-name-field' %>
    </div>

    <div class= "col-md-2 col-md-offset-2">
      <div class="btn clear-button btn-default form-control">Clear</div>
    </div>

    <div class= "col-md-2">
      <div class="btn exterminate-button btn-danger form-control">Remove</div>
    </div>
  </div>

  <div class="row">
    <div class="field col-md-3">
      <%= participant_form.label :email, 'E-mail Address' %>
      <%= participant_form.text_field :email, :class => 'validate[custom[email]] email-input' %>
    </div>
    <div class="field col-md-3">
      <%= participant_form.label :mobile_phone, 'Mobile Phone' %>
      <%= participant_form.text_field :mobile_phone, :class => 'mobile-phone-input phone validate[special,custom[mobile-phone-number],custom[optional-phone]' %>
    </div>
  </div>

  <div class="row">
    <div class="field col-md-2">
      <%= participant_form.label :shirt_size, 'Shirt Size' %>
      <%= participant_form.select :shirt_size_id, options_for_select(ShirtSize.all.map{ |t| [t.abbreviation, t.id]}, participant.shirt_size_id), {:include_blank => 'n/a'}, class: 'shirt_size-input' %>
    </div>
    <div class="field col-md-2">
      <%= participant_form.label :age, 'Date of Birth' %>

      <div class="date-wrapper">
        <%= participant_form.hidden_field :date_of_birth, class: 'date-value' %>
        <%= text_field_tag :date_of_birth, '' || participant.date_of_birth.iso8601, class: 'date-input dob-input' %>
      </div>

    </div>
    <div class="field col-md-2">
      <%= participant_form.label :gender, 'Gender' %>
      <%= participant_form.select :gender_id, options_for_select(Gender.all.map{ |t| [t.name, t.id]}, participant.gender_id), {:include_blank => '--SELECT--'}, {:class => 'validate[required] gender-input'} %>
    </div>
    <div class="field col-md-2">
      <%= participation_form.label :event_participation_type, 'Participant Type' %>
      <% participation_type_id = participant.participation(@event).nil? ? nil : participant.participation(@event).event_participation_type_id %>
      <%= participation_form.select :event_participation_type_id, options_for_select(@event.event_participation_types.map{ |t| [t.participation_type.name, t.id]}, participation_type_id),{:include_blank => '--SELECT--'}, {:class => 'validate[required]'} %>
    </div>
  </div>

  <div class="row">
    <div class="notification-fields field col-md-10">
      <%= participant_form.check_box :does_receive_notifications, :style => "width:30px; display:inline-block; float:left;" %>Receives personal leaderboard SMS messages?
    </div>
  </div>