$('#flash_messages').empty();

//This line here is probably unneccasary but I will leave it for now just in case
<% if @success %>
    window.location = "<%= path %>";
<% else %>
    <% if flash[:notice] %>
      $('#flash_messages').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><%= escape_javascript(flash[:notice].html_safe)  %></div>');
    <%  elsif flash[:error] %>
      $('#flash_messages').append('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><%= escape_javascript(flash[:error].html_safe)  %></div>');
    <% end %>
    Recaptcha.reload('t');
    window.scrollTo(0,0);
<% end %>