<h1>Teams</h1>

<style type="text/css">
  td {
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
</style>

<ul class="nav nav-tabs"  id="myTab">
  <li class="active"><a href="#tabs-1" data-toggle="tab">All Teams</a></li>
  <li><a href="#tabs-2" data-toggle="tab">Checked-In</a></li>
  <li><a href="#tabs-3" data-toggle="tab">Not Checked-In</a></li>
</ul>

<div class="tab-content">

  <div id="tabs-1" class="tab-pane fade in active">
    <%= render :partial => 'index_table', :locals => {:team_list => @teams, :event => @event, :class_name => 'all-teams-table', :show_checked_in_status => true } %>
  </div>

  <div id="tabs-2" class="tab-pane fade in">
    <%= render :partial => 'index_table', :locals => {:team_list => @checked_in, :event => @event, :class_name => 'checked-in-table', :show_checked_in_status => false } %>
  </div>

  <div id="tabs-3" class="tab-pane fade in">
    <%= render :partial => 'index_table', :locals => {:team_list => @not_checked_in, :event => @event, :class_name => 'not-checked-in-table', :show_checked_in_status => false } %>
  </div>

</div>

<br/>

<% if can? :new, Team %>
    <%= link_to 'New Team', new_team_path, :class=>'btn btn-default' %>
<% end %>

<%= javascript_include_tag 'ui/interact' %>
<%= javascript_include_tag 'jquery/ajaxManager' %>
<%= javascript_include_tag 'teams.js' %>