<script type="text/javascript">
    var LB_OPTIONS = {
        teamID : <%= @team.id %>,
        makeTeamLinks : false,
        mode : Leaderboard.constants.STATIC,
        rankingsURL : "<%= escape_javascript(leaderboard_api_unlimited_path(:event_slug => @event.slug)).html_safe %>",
        websocketSubscription : 'event_<%= @event.id.to_s %>_unlimited_leaderboard',
        masonryTarget : '.categories',
        linkContributingCaptures : true
    };
</script>
<%= render :partial => '/leaderboard/leaderboard_page', :locals => {:event => @team.event, :team => @team, :categories => nil, :make_category_links => true, :include_descriptions => true} %>