<h3 class="text-center">
  <%= @team.name %>
</h3>

<style>
  th {
    text-align: center;
  }

  .key {
    text-align: left;
    width: 50%;
  }

  .value {
    width: 50%;
  }
  td{
    width:1px;
  }
</style>

<div class="row">
  <% unless @team.company.nil? %>
    <h4 class="text-center">
      <%= @team.company %>
    </h4>
  <% end %>
  <% unless @team.number.nil? %>
    <h4 class="text-center">
      Number: <%= @team.number %>
    </h4>
  <% end %>
  <h5 class="text-center">
    Captain Receives Notifications: <%= @team.does_receive_notifications ? "Yes" : 'No' %>
  </h5>
  <h5 class="text-center">
    <% if @team.checked_in %> Checked In <% else %> Not Checked In <% end %>
  </h5>
  <br/>
</div>

<div style="margin-left:auto; margin-right:auto; text-align:center;">
  <% if can? :edit, @team %><div style="display:inline-block;" ><%= link_to 'Edit Team', edit_team_path(:id => @team.id), :class => 'btn btn-default' %></div><% end %>
  <div style="display:inline-block;" ><%= render partial: 'teams/partials/team_badge_button', locals: {event: @event, team: @team} %></div>
  <% if can? :check_in, @team %>
    <% if @team.checked_in %>
      <div style="display:inline-block;"><%= link_to 'Check-Out', team_check_out_path(:team_id => @team.id), :class => 'btn btn-default' %></div>
    <% else %>
      <div style="display:inline-block;"><%= link_to 'Check-In', team_check_in_path(:team_id => @team.id), :class => 'btn btn-default' %></div>
    <% end %>
  <% end %>
</div>

<hr/>

<% if @event.has_premium_categories? %>
  <h4 class="text-center"><b>Premium Category Groupings</b></h4>

  <div class="text-center">
    <table class="table table-striped table-bordered" style="width:30%" align="center">
      <tbody>
      <% cats = @team.premium_category_groupings %>
      <% if cats.count == 0 %>
        <tr>
          <td>(none)</td>
        </tr>
      <% else %>
        <% @team.premium_category_groupings.each do |grouping| %>
          <tr>
            <td><%= grouping.name %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<h4 class="text-center"><b>Notes</b></h4>

<div class="text-center">
  <%= @team.notes == nil ? '(none)' : @team.notes %>
</div>

<h4 class="text-center"><b>Summary</b></h4>

<div class="text-center">
  <% cap = @team.captain %>
  <table class="table table-striped table-bordered" style="width:80%; margin-left:auto; margin-right:auto;">
    <tr>
      <th>Title</th>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Number</th>
      <th>Gender</th>
      <th>Type</th>
      <th>Shirt Size</th>
    </tr>
    <!-- CAPTAIN -->

    <tr>
      <% participation = Participation.where(:team_id => @team.id, :participant_id => cap.id).first %>
      <% participation_type = ParticipationType.where(:id => participation.event_participation_type.participation_type_id).first.name.downcase %>
      <td>Captain</td>
      <td>1</td>
      <td><%= cap.first_name %></td>
      <td><%= cap.last_name %></td>
      <td><%= participation.display_number %></td>
      <td><%= cap.gender.abbreviation %></td>
      <td><%= participation_type.titleize %></td>
      <td><%= cap.shirt_size.nil? ? 'n/a' : cap.shirt_size.abbreviation %></td>
    </tr>

    <!-- PARTICIPANTS -->
    <% @team.participants.where.not(:id => cap.id).order('first_name asc').each_with_index { |p, index| %>
      <% if @team.captain != p %>
        <tr>
          <% participation = Participation.where(:team_id => @team.id, :participant_id => p.id).first %>
          <% participation_type = ParticipationType.where(:id => participation.event_participation_type.participation_type_id).first.name.downcase %>
          <td></td>
          <td><%= (index+2).to_s %></td>
          <td><%= p.first_name %></td>
          <td><%= p.last_name %></td>
          <td><%= participation.display_number %></td>
          <td><%= p.gender.abbreviation %></td>
          <td><%= participation_type.titleize %></td>
          <td><%= p.shirt_size.nil? ? 'n/a' : p.shirt_size.abbreviation %></td>
        </tr>
      <% end %>
    <% } %>

    <% EventParticipationType.where(:event => @event).each do |ept| %>
        <% count = Participation.where(:team => @team, :event_participation_type => ept).count %>
        <% if count > 0 %>
          <tr>
            <th colspan="6"></th>
            <td><%= ept.participation_type.name %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
    <% end %>
    <tr>
      <th colspan="6"></th>
      <td><b>Total</b></td>
      <td><%= @team.participants.count %></td>
    </tr>
  </table>
</div>
<hr/>
<h4 class="text-center"><b>Captain</b></h4>

<div id="captain-spot"></div>
<hr/>

<h4 class="text-center"><b>Participants</b></h4>
<% @team.participants.order('id asc').each do |p| %>
  <% participation = Participation.where(:team_id => @team.id, :participant_id => p.id).first %>
  <% participation_type = ParticipationType.where(:id => participation.event_participation_type.participation_type_id).first.name.downcase %>
  <div class="row-fluid <%= @team.captain.id == p.id ? 'captain-participant-entry' : '' %>">
    <% ph = '<span class="empty-value">n/a</span>'.html_safe %>
    <div class="span2">
      <h4 class="team-participant-name"><%= link_to p.full_name, participant_path(:event_slug => @event.slug, :id => p) %>
        :</h4>
      <table class="table table-bordered" style="width:100%;" id="event_categories">
        <tr>
          <th scope="row" class="key">Type</th>
          <td class="value"><%= participation_type.titleize || ph %></td>
        </tr>
        <tr>
          <th scope="row" class="key">Gender</th>
          <td class="value"><%= Gender.where(:id => p.gender).first.abbreviation || ph %></td>
        </tr>
        <tr>
          <th scope="row" class="key">Birthday</th>
          <td class="value"><%= p.date_of_birth != nil ? (p.date_of_birth.to_s + " (Age " + participation.age_at_event_start.to_s + ")") : ph %></td>
        </tr>
        <tr>
          <th scope="row" class="key">Shirt</th>
          <td class="value"><%= p.shirt_size ? p.shirt_size.abbreviation : ph %></td>
        </tr>
        <tr>
          <th scope="row" class="key">Number</th>
          <td class="value"><%= participation.display_number || ph %></td>
        </tr>
        <tr>
          <th scope="row" class="key">Address</th>
          <td class="value"><%= p.address || ph %></td>
        </tr>
        <tr>
          <th scope="row" class="key">Home</th>
          <td class="value"><%= p.home_phone || ph %></td>
        </tr>
        <tr>
          <th scope="row" class="key">Mobile</th>
          <td class="value"><%= p.mobile_phone || ph %></td>
        </tr>
        <tr>
          <th scope="row" class="key">Carrier</th>
          <td class="value"><%= p.mobile_carrier == nil ? ph : p.mobile_carrier.name %></td>
        </tr>
        <tr>
          <th scope="row" class="key">SMS</th>
          <td class="value"><%= p.does_receive_notifications ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th scope="row" class="key">E-Mail</th>
          <td class="value"><%= p.email != nil ? p.email.downcase : ph %></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
<% end %>

<script type="text/javascript">
  $(".captain-participant-entry").appendTo("#captain-spot");
</script>

<%= javascript_include_tag 'ui/interact' %>
<%= javascript_include_tag 'jquery/ajaxManager' %>
<%= javascript_include_tag 'teams.js' %>