<h1>Teams</h1>

<table class="table table-striped" id="team_table">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Team #</th>
    <th>Company</th>
    <th>Participants</th>
    <th>Actions</th>
  </tr>
  </thead>
    <tbody>
  <% @teams.each_with_index do |team,index| %>
    <tr>
      <td><%= (index+1).to_s %></td>
      <td><%= team.name %></td>
      <td><%= team.number %></td>
      <td><%= team.company %></td>
      <td><%= team.participants.count %></td>
      <td><%= link_to '<i class="fa fa-list-alt"></i> Leaderboard'.html_safe, "/#{@event.slug}/teams/#{team.slug}" %></td>
    </tr>
  <% end %>
    </tbody>
</table>
<script>
  $('#team_table').DataTable({
      paging: false
  });
</script>