var table = $('table#suggestion_table');
var body = table.find('tbody');
var html = '<%= escape_javascript render(:partial => 'teams/partials/team_lookup_row', :collection => @teams) %>';

body.empty();
body.append(html);

$('div#loading_status').addClass('hidden');

<% if @teams.count > 0 %>
table.removeClass('hidden');
<% else %>
table.addClass('hidden');
<% end %>