-# Include the JS for this page
= javascript_include_tag 'jquery/jQuery.textchange'
= javascript_include_tag 'teams/team_lookup'

-# Create the form to create the
= form_tag new_team_path, method: 'get', class: 'team-lookup' do
  .row
    .col-md-3.col-md-offset-4
      = text_field_tag :team_name, nil, class: 'form-control'
    .col-md-1
      = submit_tag 'Create', class: 'btn btn-default'

-# add the loading text partial
.row
  .loading-text.col-md-3.col-md-offset-4
    = render partial: 'common_partials/loading_text'

-# The table to hold the search results
%table#suggestion_table.table.table-condensed.hidden
  %thead
    %th
      Team Name
    %th
      Event
    %th
  %tbody


-# Add the path as a JS variable so we can access it in the JS later on
:javascript
  var TEAM_LOOKUP_PATH = '#{teams_team_lookup_path(event_slug: @event.slug)}'