$('#flash_messages').empty();

<% if flash[:notice] %>
    $('#flash_messages').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><%= escape_javascript(flash[:notice].html_safe)  %></div>');
<% end %>

<% if flash[:error] %>
    $('#flash_messages').append('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><%= escape_javascript(flash[:error].html_safe)  %></div>');
<% end %>
window.scrollTo(0,0);

<% flash.clear %>