%h1 SMS Options
%hr/
%h3 Send SMS to enrolled users here.
.row
  .col-sm-12
    = form_tag sms_send_standings_path(@event.slug), :method => :put, :remote => true do
      .row
        .col-sm-6
          %h4 Send current top leaderboard standings for all categories:
      .row
        .col-sm-3
          = select_tag 'send_option', options_for_select(@options), class: 'form-control'
      .row
        .col-sm-3
          = submit_tag 'Send', class: 'btn btn-default form-control', :data => { :confirm => 'Are you sure you want to send these SMS messages?' }

%hr/

%h3 Send a custom message to all participants:
.row
  .col-sm-12
    = form_tag sms_send_custom_path(@event.slug), :method => :put, :remote => true do
      .row
        .col-sm-6
          .row
            .col-sm-6
              = select_tag 'send_option', options_for_select(@options), class: 'form-control'
          .row
            .col-sm-12
              = text_area_tag 'message', nil, rows: 7, class: 'form-control', id: 'custom_message_text_area'
          .row
            .col-sm-6
              = submit_tag 'Send', :data => { :confirm => 'Are you sure you want to send these SMS messages?' }, class: 'btn btn-default form-control'
        .col-sm-6
          .row
            .col-sm-12
              %h5 Substitution items for message customization
          .row
            .col-sm-3
              .btn.btn-default.form-control.substitution-button{ data: { value: '[[e_name]]' } }
                Event Name
            .col-sm-3
              .btn.btn-default.form-control.substitution-button{ data: { value: '[[e_leaderboard]]' } }
                Leaderboard Url
          .row
            .col-sm-3
              .btn.btn-default.form-control.substitution-button{ data: { value: '[[t_name]]' } }
                Team Name
            .col-sm-3
              .btn.btn-default.form-control.substitution-button{ data: { value: '[[t_number]]' } }
                Team Number
          .row
            .col-sm-3
              .btn.btn-default.form-control.substitution-button{ data: { value: '[[p_number]]' } }
                Person Number
            .col-sm-3
              .btn.btn-default.form-control.substitution-button{ data: { value: '[[p_first_name]]' } }
                Person First Name
            .col-sm-3
              .btn.btn-default.form-control.substitution-button{ data: { value: '[[p_last_name]]' } }
                Person Last Name
            .col-sm-3
              .btn.btn-default.form-control.substitution-button{ data: { value: '[[p_full_name]]' } }
                Person Full Name

-# TODO refactor all of the JS files so we do not have to include them in the html files
= javascript_include_tag 'event_sms/index'