.form-group
  = scale_form.label :start_time, 'Opens at', class: 'col-sm-2 col-sm-offset-2 control-label'
  .date-wrapper.col-sm-5
    = scale_form.text_field :start_time, class: 'datetime-input form-control'
    = scale_form.hidden_field :start_time, class: 'datetime-input date-value'

.form-group
  = scale_form.label :end_time, 'Closes at', class: 'col-sm-2 col-sm-offset-2 control-label'
  .date-wrapper.col-sm-5
    = scale_form.text_field :end_time, class: 'datetime-input form-control'
    = scale_form.hidden_field :end_time, class: 'datetime-input date-value'

.form-group
  .col-sm-1.col-sm-offset-8
    - action = params[:action] == 'new' ? 'Add' : 'Update'
    = scale_form.submit action, class: 'btn btn-default pull-right form-control'