%h3.text-center Update scale opening
%br

- if @event_scale_opening.errors.any?
  #error_explanation
    %h2= pluralize(@event_scale_opening.errors.count, "error")
    "Could save scale opening due to:"
    %ul
      - @event_scale_opening.errors.full_messages.each do |msg|
        %li= msg

= form_for @event_scale_opening, url: {action: :update, event_slug: @event.slug  }, html: {class: 'form-horizontal'} do |scale_form|
  = render partial: 'event_scale_openings/form', :locals => {:scale_form => scale_form}