%h1 Scale Openings

- if can? :create, EventScaleOpening
  = link_to 'Add', new_event_scale_opening_path(:event_slug => @event.slug), class: 'btn btn-success pull-right text-white'

%table.table.table-striped
  %thead
    %th Start Time
    %th End Time
    %th
    %th
  %tbody
    - @scale_openings.each do |opening|
      %tr
        %td
          -#- raise @browser_timezone.inspect
          = opening.start_time.in_time_zone(@browser_timezone).strftime('%b %d %l:%M %p %Z')
        %td
          = opening.end_time.in_time_zone(@browser_timezone).strftime('%b %d %l:%M %p %Z')
        %td.text-center
          - if can? :edit, opening
            = link_to 'Edit', edit_event_scale_opening_path(:event_slug => @event.slug, :id => opening.id), class: 'btn btn-default'
        %td.text-center
          - if can? :destroy, opening
            = link_to 'Delete', event_scale_opening_path(:event_slug => @event.slug, :id => opening.id), method: :delete, class: 'btn btn-danger'
