<%
   # This partial acts as a shortcut for creating a single-leaderboard page for an event.
   #
   # When rendering it, please have the following set:
   #
   # In JavaScript:
   #    - A global LB_OPTIONS variable containing the parameters for your Leaderboard (defined in leaderboard/leaderboard.js).
   #
   # Partial Locals:
   #    - Each of the variables included in _leaderboard.erb, which will be passed on to that partial.
   #
%>

<% content_for :head do %>
    <title><%= !team.nil? ? team.name : event.name %></title>
    <%= stylesheet_link_tag 'leaderboard/page' %>

    <% # ALLOW CUSTOM WIDTH TO BE SPECIFIED VIA PARAMETERS %>
    <% if !params[:width].blank? and (params[:width].match(/^\d+$/) ? true : false) %>
        <% label_width = params[:width].to_i; table_width = label_width + 156 %>
        <style type="text/css">
            .leaderboard .super-category .categories div.category {
                width: <%= table_width %>px !important;
            }
            .leaderboard-table td.ranking-label {
                width: <%= label_width %>px !important;
            }
        </style>
    <% end %>

<% end %>

<div class="leaderboard-page">
    <div id="big-header" style="background-color:<%= event.banner_color %>">
      <div class="container-fluid">

        <div class="console">
          <div class="message"></div>
          <div class="last-update"></div>
          <div class="next-update"></div>
          <br/>
          <div class="live-status" style="display:none;"></div>
        </div>

        <div class="row">
          <div class="col-md-1">
            <%= link_to(image_tag(event.icon.url, class: 'pull-left event-header-logo'), event_landing_path(event_slug: @event.slug)) unless event.icon.nil? %>
          </div>
          <div class="col-md-10">
            <h2 class="text-center event-name"> <%= team.nil? ? event.name : (team.name + (team.number.nil? ? '' : " (Team ##{team.number})")) %></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="leaderboard-wrapper">

      <div class="leaderboard-page-background" style="background-image: url(<%= leaderboard_background_image %>);"></div>

      <div class="leaderboard-concealer spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <br/>
        <br/>
        <span style="font-size:larger; font-weight:bold;"><%= !team.nil? ? ('Loading Team Standings...') : (categories.nil? ?  ('Loading Event Leaderboard...'): 'Loading Category Leaderboard')%></span>
      </div>

        <% if team.nil? %>
            <% if !categories.nil? %>
                <div style="padding-top:20px; padding-left:20px;"><%= link_to 'Return To Event Leaderboard', leaderboard_path(:event_slug => @event.slug) %></div>
            <% end %>
            <%= render :partial => '/leaderboard/leaderboard', :locals => {:event => event, :categories => categories, :team => team, :make_category_links => make_category_links, :include_descriptions => include_descriptions } %>
        <% else %>
            <div class="team-summary-div">
              <%= render :partial => '/leaderboard/team_summary', :locals => {:team => team} %>
            </div>
            <div class="team-leaderboard-div">
              <%= render :partial => '/leaderboard/leaderboard', :locals => {:event => event, :categories => categories, :team => team, :make_category_links => make_category_links, :include_descriptions => include_descriptions} %>
            </div>
        <% end %>

    </div>

</div>

<script type="text/javascript">
    LB_OPTIONS.basePath = '<%= escape_javascript(leaderboard_path(:event_slug => event.slug)).html_safe %>';
    LB_OPTIONS.websocketPath = '<%= WEBSOCKET_HOST['path'] %>';
    LB_OPTIONS.capturesList = $(".captures-table");
    <% if params[:mode] %>
        //Leaderboard mode being overwritten by parameter.
        LB_OPTIONS.mode = Leaderboard.constants.<%= params[:mode].upcase %>;
    <% end %>
    LB_OPTIONS.console = $(".leaderboard-page .console")[0];
    var leaderboard = new Leaderboard($(".leaderboard-wrapper"),LB_OPTIONS);
    leaderboard.start(function(){
       $('.spinner').hide('fade', 300, function() {
           $('.spinner').remove();
           $("#leaderboard-concealer").css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0}, 1000);
       });
    });
</script>