<%
    #
    # The workhorse leaderboard partial. Please initialize with the following variables:
    #
    #    - event: The Event whose leaderboard we are rendering (required).
    #    - team: A team we are filtering on (nil otherwise).
    #    - categories: A list of categories to limit to (or nil otherwise).
    #

    #We need an event.
    if !defined?(event) or event.nil?
      raise 'Must set an event before rendering _leaderboard partial.'
    end

    #Populate which super-categories we'll need to render.
    if defined?(categories) and !categories.nil?
        super_categories  = SuperCategory.where('id IN (?)',categories.collect{|c| c.super_category.id}.uniq.join(','))
    else
        categories = nil
        super_categories = !params[:page] ? SuperCategory.where(:event_id => event.id) : SuperCategory.where(:event_id => event.id, :page => params[:page])
    end

   #We could have a team as well.
    if !defined?(team)
      team = nil
    end
%>

<%= content_for :head do %>
    <style type="text/css">
        /* Overwrite image path here so we don't need to make our CSS a .erb. */
        .updating-icon {
            background-image: url('<%= asset_path('category-updating.gif') %>');
        }
        .bulb {
            background-image:url('<%= asset_path('glass.png') %>');
        }
        .reward-icon-money {
            /* background-image:url('<%= asset_path('category-icons/money.png') %>'); */
        }
    </style>
    <script type="text/javascript">
      $(window).on('load',function(){
          $('[data-toggle="popover"]').popover({html : true, container : 'body'});
          var cats = $('.leaderboard .category');
          cats.on('mouseover',function(){
              $(this).find('.info-icon').css('visibility','visible');
          });
          cats.on('mouseout',function(){
              $(this).find('.info-icon').css('visibility','hidden');
          });
      });
    </script>
<% end %>

<div class="leaderboard">
    <br/>
    <% super_categories.order('page ASC, position ASC, name ASC, id ASC').each do |super_category| %>
      <% super_category_categories = Category.where(:super_category_id => super_category.id).order('grouping_number ASC, position ASC, name ASC, id ASC') %>
      <% if super_category_categories.count > 0 %>
          <% last_category_grouping_number = nil %>
          <div super-category-id="<%= super_category.id %>" class="super-category super-category-<%= super_category.id.to_s %>" >
            <h4 class="text-center"><%= super_category.name %></h4>
            <div class="categories">

                <% super_category_categories.each do |category|
                  
                    if !categories.nil? and !categories.include?(category)
                        #We didn't include this category in the leaderboard.
                        next
                    end

                    category_class = 'normal'
                    if category.is_premium?
                        if team.nil? or team.premium_categories.include?(category)
                        category_class = 'qualified'
                        else
                            category_class = 'unqualified'
                        end
                    end
                    display_mode_class = 'display-mode-' + category.display_mode.to_s.gsub('_','-')
                    title_line_height = category.subtitle.nil? ? '30px' : 'default'
                %>
                    <% if category.grouping_number != last_category_grouping_number %>
                        <% if !last_category_grouping_number.nil? %>
                            </div>
                        <% end %>
                        <% last_category_grouping_number = category.grouping_number %>
                        <div class="category-grouping category-grouping-<%= category.grouping_number %>">
                    <% end %>

                    <div category-id="<%= category.id %>" class="category category-<%= category.id.to_s %> <%= [category_class,display_mode_class].join(' ') %>">

                        <!-- SCRIPT -->
                        <script type="text/javascript">Leaderboard.CATEGORY_DISPLAY_MODES[<%= category.id %>] = "<%= category.display_mode.to_s %>";</script>

                        <!-- HEADER -->
                        <h5 class="header" style="color: <%= category.get_text_color %>; background-color:<%= category.get_background_color %>;" >

                            <% if include_descriptions %>
                                <div class="info-icon fa fa-info-circle" data-toggle="popover" data-title="<%= category.name %>" data-position="bottom" data-content="<%= category.get_description %>"></div>
                            <% end %>

                            <span style="line-height:<%= title_line_height %>">
                              <div style="display:none;" class='updating-icon'></div>
                              <%= !make_category_links ? category.name : (link_to category.name, leaderboard_category_path(event_slug: event.slug, id: category.id)) %>
                            </span>
                            <% if !category.subtitle.nil? %>
                                <br/>
                                <span class="subtitle"><%= category.subtitle %></span>
                            <% end %>
                        </h5>

                        <!-- CONTENT -->
                        <div class="content">

                            <div class="inside">
                              <div class="description">

                              </div>
                            </div>

                            <table class="leaderboard-table">
                                <thead style="display:none">
                                  <tr>
                                    <th class="anim:id" style="display:none">Hash</th>
                                    <th class="anim:constant">P</th>
                                    <th class="anim:constant">TP</th>
                                    <th class="anim:constant">▼</th>
                                    <th class="anim:position">#</th>
                                    <th class="anim:constant">Name</th>
                                    <th class="anim:constant">Points</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="empty-category-row" style="display:none;">
                                    <td colspan="4">
                                      <% if !team.nil? %>
                                          <% if category.is_premium? and !team.premium_categories.include?(category) %>
                                              (Not Qualified)
                                          <% else %>
                                              (No Captures)
                                          <% end %>
                                      <% else %>
                                          <% if category.is_premium? %>
                                            (No Qualifying Captures)
                                          <% else %>
                                            (No Captures)
                                          <% end %>
                                      <% end %>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- FOOTER -->
                        <div class="footer <%= category_class %>" style="color: <%= category.get_text_color %>; background-color:<%= category.get_background_color %>;"></div>
                    </div>

                <% end %>
                </div> <!-- CLOSE THE LAST CATEGORY-GROUPING -->
            </div>
          </div>
        <br style="clear:both;"/>
      <% end %>
    <% end %>
</div>