<div class="options">
  <button type="button" class="btn btn-lg popover-dismiss" data-toggle="popover" ><i class="fa fa-gear"></i></button>
</div>
<div class="popover_template" style="display: none">
  <div class="popover-stuff">
    <div class="btn btn-default show-playback-controls" onclick="javascript:showPlaybackControls();">Enable Playback</div>
  </div>
</div>

<!-- PLAYBACK CONTROLS -->
<div class="playback-controls row-fluid" style="width:149px; display: none">
  <div class="col-md-4">
    <i class="fa fa-circle-o-notch fa-spin" style="display: none"></i>
    <i class="fa fa-play"></i>
  </div>
  <div class="col-md-4"><i class="fa fa-pause"></i></div>
  <div class="col-md-4" style="margin-left: -4px"><i class="fa fa-times"></i></div>
</div>