<% if rank['is_empty'] %>
    &nbsp;
<% else %>
    <% if display_mode == 'score_and_unit' %>
        <%= render :partial => '/leaderboard/unit_label', :locals => {:score => rank['score_label'], :unit => rank['unit_label']} %>
    <% elsif display_mode == 'smallest_and_largest' %>
        <%= render :partial => '/leaderboard/unit_label', :locals => {:score => rank['largest_subscore_label'], :unit => rank['unit_label']} %>
        ,
        <%= render :partial => '/leaderboard/unit_label', :locals => {:score => rank['smallest_subscore_label'], :unit => rank['unit_label']} %>
    <% elsif display_mode == 'score_and_unit_and_count' %>
        <%= render :partial => '/leaderboard/unit_label', :locals => {:score => rank['score_label'], :unit => rank['unit_label']} %>
        <span class="capture-count">(<%= rank['capture_count'].to_s %>)</span>
    <% elsif display_mode == 'count' %>
        <%= render :partial => '/leaderboard/unit_label', :locals => {:score => rank['capture_count'], :unit => 'ct.' } %>
    <% elsif display_mode == 'none' %>
        &nbsp;
    <% else %>
        <% raise 'Unknown category type.' %>
    <% end %>
<% end %>