<%
   (query = '') << <<-SQL
       SELECT
           participants.*,
           (SELECT COUNT(*) FROM captures WHERE event_id = #{team.event.id} AND participant_id = participants.id) AS capture_count,
           participation_types.name AS participation_type_name,
           participations.number AS participation_number
       FROM
           participants
           INNER JOIN participations ON participations.participant_id = participants.id
           INNER JOIN event_participation_types ON participations.event_participation_type_id = event_participation_types.id
           INNER JOIN participation_types ON event_participation_types.participation_type_id = participation_types.id
       WHERE
           participations.team_id = #{team.id}
       ORDER BY
            participation_types.name ASC,
            capture_count DESC,
            participants.last_name ASC,
            participants.first_name ASC,
            participants.id ASC
   SQL
   participants = Participant.find_by_sql(query)

   (query = '') << <<-SQL
        SELECT
            captures.*,
            (participants.first_name || ' ' || participants.last_name) AS participant_name,
            species.name AS species_name
        FROM
            captures
            INNER JOIN species ON species.id = captures.species_id
            INNER JOIN participants ON captures.participant_id = participants.id
            INNER JOIN participations ON participations.participant_id = participants.id
        WHERE
            captures.event_id = #{team.event.id}
            AND participations.team_id = #{team.id}
        ORDER BY
            captures.entered_at ASC,
            captures.created_at ASC,
            captures.id ASC

   SQL
   captures = Capture.find_by_sql(query)
%>

<div class="leaderboard-team-summary">

  <br/>

  <%= link_to 'Return To Event Leaderboard', leaderboard_path(:event_slug => team.event.slug) %>

    <h2>Team Members (<%= participants.count %>)</h2>
    <table class="team-member-table">
        <thead>
        </thead>
        <tbody>
            <% last_type = nil %>
            <% participants.each do |participant| %>
                <% if last_type != participant.participation_type_name %>
                    <% last_type = participant.participation_type_name %>
                    <tr class="header-row"><td colspan="2" style="background-color:<%= team.event.banner_color %>"><%= participant.participation_type_name.pluralize %></td></tr>
                <% end %>
              <tr>
                <td class="participant-name">
                  <%= participant.full_name %>
                  <% if !participant.participation_number.nil? %>
                    <span class="participation-number"> (#<%= participant.participation_number %>)</span>
                  <% end %>
                </td>
                <td class="participant-capture-count"><%= last_type == 'Angler' ? participant.capture_count : '' %></td>
              </tr>
            <% end %>
        </tbody>
    </table>

    <br/>

    <h2>Team Captures (<%= captures.count %>)</h2>
    <table class="captures-table">
      <thead>
      </thead>
      <tbody>
        <% last_day = nil %>
        <% captures.each do |capture| %>
            <% if last_day != capture.entered_at.in_time_zone(@browser_timezone).to_date %>
              <% last_day = capture.entered_at.in_time_zone(@browser_timezone).to_date %>
              <tr class="header-row"><td style="background-color:<%= team.event.banner_color %>"><%= last_day.strftime('%A, %b %d, %Y') %></td></tr>
            <% end %>
            <tr capture-id="<%= capture.id %>" class="capture capture-<%= capture.id %>">
              <td>
                <b><%= capture.species_name %></b>
                <br/>
                <%= capture.participant_name + ' @ ' + capture.entered_at.in_time_zone(@browser_timezone).strftime('%H:%M %Z') %>
                  <ul class="measurements">
                    <% CaptureMeasurement.where(:capture_id => capture.id).order('unit_id ASC').each do |cm| %>
                        <li>
                          <span class="measurement">
                            <%= (cm.measurement) == (cm.measurement.to_i) ? (cm.measurement.to_i.to_s) : (cm.measurement.to_s) %></span>
                          <span class="unit"><%= cm.unit.abbreviation %></span>
                        </li>
                    <% end %>
                  </ul>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>

    <br/>

</div>