/*
 * leaderboard.css.scss
 *
 * (c) 2015 Nathan Cooper
 *
 */

$CATEGORY_WIDTH : 320;
$ORDINAL_WIDTH : 36;
$SCORE_WIDTH : 100;
$INDICATOR_WIDTH : 20;
$LABEL_WIDTH : $CATEGORY_WIDTH - $ORDINAL_WIDTH - $SCORE_WIDTH - $INDICATOR_WIDTH;

.popover-title {
  font-weight:bold;
  text-align:center;
}

.popover-content {
  color:black;
  font-size:14px;
  font-weight:normal;
  width:300px;
  white-space:normal;
  padding-right:45px;
  text-align:justify;
}

.leaderboard {

  margin: 0 auto;
  text-align:center;
  min-height:100vh;

  .super-category {

    color:black;
    padding: 0 4px 4px;

    h4 {
        font-weight:bold;
        display: inline-block;
        color:black;
        width:100%;
        font-size:24px;
    }

    .categories {

      .category-grouping {
        display:inline-block;
      }

      .category {

        background: #FFFFFF;
        overflow:hidden;
        width: $CATEGORY_WIDTH + px;
        vertical-align: top;

        border: 1px solid gray;
        border-radius: 5px 5px 0px 0px;

        margin-bottom: 12px;
        margin-right: 10px;

        &.unqualified {

          .empty-category-row {
            color: #aa0000 !important;
            td {
              background-color: #FFE0E0 !important;
            }
          }

        }

        .header {

          margin: 0px;
          padding: 0px;
          padding-top: 5px;
          font-weight: bold;
          height: 40px;
          position:relative;

          .info-icon {
            cursor:pointer;
            position:absolute;
            left:10px;
            top:10px;
            height:20px;
            width:20px;
            font-size:20px;
            visibility:hidden;
          }

          a:link, a:visited {
            color:inherit;
          }

          a:hover {
            color:orange;
            background:none;
            text-decoration:underline;
          }

          .subtitle {
            font-size: smaller;
            font-weight: normal;
          }

          .updating-icon {
            vertical-align: middle;
            display: inline-block;
            height: 16px;
            width: 16px;
            margin-left: -21px;
            background-size: 100%;
          }

        }

        .content{

          position:relative;

          .inside {
            visibility:hidden;
            position:absolute;
            height:100%;
            width:100%;
            border-top:1px solid gray;
            overflow:hidden;

            .description {
              height:100%;
              width:100%;
              text-align:left;
              overflow-x:hidden;
              overflow-y:scroll;
              padding:5px;
            }

          }

          .leaderboard-table {
            /* (handled below to save indentation. */
          }

        }

        .footer {
          height: 4px;
          border-top: 1px solid gray;
        }

      }
    }
  }

}

.leaderboard-table {

  display:inline-table;
  width:100%;
  border-collapse:collapse;
  table-layout:fixed;

  .empty-category-row {
    color:gray;
  }

  tr:nth-child(odd){
    background-color:rgba(220,220,220,0.5);
  }

  tr:nth-child(1) td{
    /* The (Not Yet Placed) placeholder row */
    border-top:1px solid gray !important;
    background-color:white;
  }

  tr:nth-child(2) td{
    border-top:1px solid gray !important;
  }

  tr.selected {
    background-color:orange;
  }

  tr.selectable {

    &:hover td {
      background-color:orange;
    }

    td {
      cursor:pointer;
    }

  }

  tr.highlighted {

    td {
      background-color:lightgreen;
    }

  }

  td {
    font-size: 12px;
    padding-top:5px;
    padding-bottom:5px;
    border-top:1px solid #C0C0C0;
    border-bottom:1px solid #C0C0C0;
    white-space:nowrap;
    height:30px;

    &.empty {
      color:gray;
    }

    .text {
      height:18px;
      white-space:nowrap;
      overflow:hidden;
      line-height:20px;
    }

  }

  /* Each leaderboard column. */

  td.ranking-indicator {

    width: $INDICATOR_WIDTH + px;
    text-align:center;
    font-family:monospace;

    .arrow-new{
      color:green;
    }

    .arrow-up{
      color:green;
    }

    .arrow-down{
      color:red;
    }

    .arrow-updated{
      color:blue;
    }
  }

  td.ranking-ordinal {

    width: $ORDINAL_WIDTH + px;
    font-weight:bold;
    text-align:left !important;

    background-repeat:no-repeat;
    background-size:contain;
    background-position:left;

    .letters {
      display:inline-block;
      font-weight:normal;
      position:relative;
      text-decoration:underline;
      top:-0.3em;
      font-size:smaller;
      left:1px;
      height:18px;
    }

  }

  td.ranking-label {

    width: $LABEL_WIDTH + px;
    text-align:left !important;
    padding-left:8px;

    .entity {
      width:100%;
      height:18px;
    }

    .contributed-points {
      width:100%;
      height:18px;
      color:darkgreen;
      font-weight:bold;
    }

    .team-link {

      &:hover {
        color:orange;
        text-decoration:underline;
        background:none;
      }

      &:visited {
        color:black;
      }

      &:hover:visited {
        color:orange;
        text-decoration:underline;
        background:none;
      }
    }

    .lb-marquee {
      overflow: hidden;
    }

  }

  td.ranking-score {

    width: $SCORE_WIDTH + px;
    font-weight:bold;
    text-align:right !important;

    .unit{
      color:gray;
      font-weight:normal;
      font-size:smaller;
    }

    .capture-count {
      font-weight:bold;
      color:gray;
      font-size:smaller;
    }

  }
}