body {
  padding:0px;
  margin:0px;
}

.event-header-logo {
  height: 70px;
  margin-top: 10px;

  &.facts {
    height: 50px;
    margin-top: 27px;
    margin-left: 13px;
    position: absolute;
  }
}

.event-name {
  margin-bottom: 0;
  margin-top: -10px;
}

.big-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 84px;
  z-index: 9999;
}

.leaderboard-wrapper {
  position:relative;
  width:100%;
  height:100%;
}

.leaderboard-concealer {
  position:absolute;
  left:0px; right:0px; top:0px; bottom:0px;
  padding:0px;
  margin:0px;
  background-color:white;
  width:100%;
  z-index:100;
  padding-top:200px;

}

.leaderboard-page {

  .leaderboard-page-background {
    position: absolute;
    top: 0px; left: 0px; bottom: 0px; right: 0px;
    opacity: 0.1;
    z-index:-1;

    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center 98px;

    background-size: 75% auto;
    background-size: -webkit-calc(100vh * .75) auto;
    background-size: -moz-calc(100vh * .75) auto;
    background-size: calc(100vh * .75) auto;
  }

  .console {
    position:absolute;
    right:0px;
    color: white;

    padding:7px;
    text-align:right;
    font-size:larger;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    .last-update {
      font-size:smaller;
    }

    .live-status {

      font-size:18px;
      vertical-align:top;
      padding-right:5px;

      .live-status-indicator {
        width: 18px;
        height: 18px;
        display: inline-block;
        border-radius:10px;
        border:1px solid white;


        .bulb {
          width:100%;
          height:100%;
          border-radius:10px;

          &.pending, &.connecting {
            background-color: #ffa500;
            box-shadow: 0px 0px 6px #ffa500;
          }

          &.disconnected {
            background-color:red;
            box-shadow: 0px 0px 6px red;
          }

          &.connected {
            background-color: #00c828;
            box-shadow: 0px 0px 6px #97ff02;
          }
        }
      }
    }
  }

}