.current-capture-time {
  color: white;
}

.current-capture-time {
  margin-top: -30px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.playback-controls {

  border: 1px solid white;
  padding: 10px;
  padding-left: 5px;
  position: absolute;
  right: 42px;
  top: 21px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.playback-controls .fa {
  font-size: 1.8em;
  color: white;
  cursor: pointer;
}

.playback-controls .fa-times {
  font-size: 2.5em;
  margin-top: -5px;
}

.leaderboard {

  .options {
    color: #dddddd;
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 9998;
    cursor: pointer;
  }

  .options .popover-dismiss {
    background-color: transparent;
  }

  .options .popover-dismiss .fa-gear:hover {
    color: #7d7d7d;
  }

  .popover {
    z-index: 9998;
  }

}
