.team-leaderboard-description {
  width:100%;
  background-color:#F0F0F0;
  border:1px solid black;
  border-radius:3px;
  margin:5px auto;
  margin-top:25px;
  padding:10px;
  opacity:1.0;
  text-align:left;
}

.team-summary-div{
  float:left;
  display:inline-block;
  width:350px;
}

.team-leaderboard-div{
  display:inline-block;
  width:calc(100% - 375px);
}

.leaderboard-team-summary {

  padding-left:50px;
  margin-top:-2px;
  text-align:center;

  h2 {
    font-weight:bold;
    font-size:20px;
  }

  table {

    width:100%;

    .highlighted td {
      background-color:lightgreen;
    }

    .selected td {
      background-color:orange;
    }

    .selectable {
      cursor:pointer;

      &:hover td {
        background-color:orange;
      }
    }

    .header-row {
      padding: 2px !important;
      text-align: center !important;
      font-weight: bold;
      color:white;
    }

    td {
      padding:10px;
      text-align:left;
    }

    th {
      padding:5px;
      text-align:center;
    }


    tr {
      border:1px solid black;
    }

    tr:nth-child(even){
      background-color:#F0F0F0;
    }

  }

  .team-member-table {

    .participant-name {

      .participation-number {
        color:gray;
      }

    }

    .participant-capture-count {
      width: 20px;
      text-align: right !important;
    }
  }

  .captures-table {

    .measurements {
      text-align:left !important;
      margin:0px;
    }

    .measurement {
      font-weight:bold;
    }

    .unit {
      color:gray;
    }

  }

}