- if can? :manage, User
  .link-box{data: { url: users_path}}
    .icon-container
      %i.icon.fa.fa-users.color-blue
    %span.title Users
    %br
    %span.sub-title Create and manage users for the events

- if can? :index, Event
  .link-box{data: { url: events_path}}
    .icon-container
      %i.icon.fa.fa-star.color-gold
    %span.title Events
    %br
    %span.sub-title Create and manage events

- if can? :manage, PendingJob
  .link-box{data: { url: resque_web_path}}
    .icon-container
      %i.icon.fa.fa-life-ring.color-red
    %span.title Resque Web
    %br
    %span.sub-title Monitors the resque environment,</br>showing stats and error messages