<% if @no_captures_yet %>

    <p><b>No captures have been reported for this event yet.</b></p>

<% else %>
    <% total_weight = @results.collect { |t| next if t.measurements.nil?; t.measurements.collect {|m| m[:unit_id] == 1 ? m[:total].try(:to_f) : 0 } }.flatten.compact.inject(0,:+)  %>
    <% total_quantity = @results.collect { |t| t[:quantity].try(:to_f) }.flatten.compact.inject(0,:+) %>
    <h3>Total Weight: <%= format_weight(total_weight) %></h3>
    <h3>Total Count: <%= total_quantity.to_i.to_s %> captures</h3>

    <br/>

    <% units = @event.units  %>
    <table class="table display data-table">
      <thead>
        <tr>
          <th>Species</th>
          <th>Quantity</th>
          <% units.each do |unit|  %>
              <th><%= unit.description %></th>
              <th>Average <%= unit.abbreviation %></th>
          <% end  %>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |row| %>
            <tr>
              <td><%= row.species_name %></td>
              <td><%= row.quantity %></td>
              <% units.each do |unit|  %>
                  <% if row.measurements.nil? || row.measurements.select {|t| t[:unit_id] == unit.id}.empty? %>
                      <td></td>
                      <td></td>
                  <% else  %>
                      <%  item = row.measurements.select {|t| t[:unit_id] == unit.id}.first %>
                      <td><%= item[:label] %></td>
                      <td><%= item[:average].try(:round,2) %></td>
                  <% end %>
              <% end  %>
            </tr>
        <% end %>
      </tbody>
    </table>

<% end %>

<script>
  $('.data-table').DataTable({
      "order" : [[1,'desc']],
      "lengthMenu" : [[-1],['All']]
  });
</script>