<div>

    <% if @event.event_scale_openings.count > 0 && @event.is_active? %>
        <hr/>
        <h4 style="text-align:center;">Scale Openings</h4>
        <table class="table table-striped" style="margin-left:auto; margin-right:auto; width:50%;">
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          <% @event.event_scale_openings.order('start_time ASC').each do |event_scale_opening| %>
            <tr>
              <td><%= event_scale_opening.start_time.in_time_zone(@browser_timezone).strftime('%a, %b %d, %Y at %H:%M %Z') %></td>
              <td><%= event_scale_opening.end_time.in_time_zone(@browser_timezone).strftime('%a, %b %d, %Y at %H:%M %Z') %></td>
            </tr>
          <% end %>
        </table>
      <hr/>
    <% end %>

    <div class="link-box" data-url="<%= leaderboard_path(:event_slug => @event.slug) %>">
        <div class="icon-container">
          <i class="icon fa fa-trophy color-gold"></i>
        </div>

      <span class="title">Leaderboard</span>
      <br>
      <span class="sub-title">Live results during active weigh-ins</span>
    </div>

    <div class="link-box" data-url="<%= "/#{@event.slug.html_safe}/teams" %>">
      <div class="icon-container">
        <i class="icon fa fa-users color-blue"></i>
      </div>

      <span class="title">Registered Teams</span>
      <br>
      <span class="sub-title">A list of the teams and links to team leaderboards</span>

    </div>

    <div class="link-box" data-url="<%= facts_path(:event_slug => @event.slug) %>">
      <div class="icon-container">
        <i class="icon fa fa-list color-green"></i>
      </div>

      <span class="title">Event Facts</span>
      <br>
      <span class="sub-title">Statistics about the weighed-in fish</span>
    </div>

</div>