<script type="text/javascript">
    var LB_OPTIONS = {
        teamID : null,
        mode : Leaderboard.constants.LIVE,
        rankingsURL : "<%= escape_javascript(leaderboard_api_event_path(:event_slug => @event.slug)).html_safe %>",
        websocketSubscription : 'event_<%= @event.id.to_s %>_event_leaderboard'
    };
</script>
<%= render :partial => '/leaderboard/leaderboard_page', :locals => {:event => @event, :team => nil, :categories => nil, :make_category_links => true, :include_descriptions => true} %>