<script type="text/javascript">
    INFO_URL = "/<%= "#{url_encode(@event.slug)}" %>/admin/participants/get_info";
    EVENT_ID = <%= @event.id %>;
</script>
<h2 style="text-align: center;"><%= @is_editing ? 'Edit Capture' : 'Enter New Captures' %></h2>
<hr/>

<% # HIDDEN FIELDS %>

<%= hidden_field_tag :user_id, current_user.id %>
<%= hidden_field_tag :event_id, @event.id, :id => "event_id" %>
<%= hidden_field_tag :participant_id, (@is_editing ? @captures.first.participant.id : nil), :id => "participant_id" %>
<style></style>
<% #PARTICIPANT SELECTION %>

<div class="box-container" style="">
  <div class="header" align="center">
    <div class="display-name">Angler Information</div>
  </div>
  <div class="body">
    <div class="row">
      <div class="col-md-5">
        <%= label_tag 'Angler:' %>
        <br/>Type the name or number of the angler below:
        <br/><br/>
        <div id="angler-autocomplete" style="padding-left:25px;">
          <%= autocomplete_field_tag :participant_name, '', autocomplete_participation_capture_participations_path, { :update_elements => {:participant_id => '#participant_id'}, fields: { event_id:  '#event_id' }} %>
        </div>
      </div>
      <br>
      <div class="col-md-7">
        <ul class="participant-capture-info">
          <li><label>Name:</label><span id="label_participant_name">n/a</span></li>
          <li><label>Number:</label><span id="label_participant_number">n/a</span></li>
          <li><label>Team:</label><span id="label_team_name">n/a</span></li>
          <li><label>Team #:</label><span id="label_team_number">n/a</span></li>
          <li><label>Gender:</label><span id="label_participant_gender">n/a</span></li>
          <li><label>E-mail:</label><span id="label_participant_email">n/a</span></li>
          <li><label>City:</label><span id="label_participant_address">n/a</span></li>
        </ul>
      </div>
      <br style="clear:both;"/>
    </div>
  </div>
</div>


<% #CAPTURES %>
<br>
<div >
  <% @captures.each_with_index do |capture,index| %>
      <div class="box-container capture" style="width:30%; float:left; margin-right:15px; margin-bottom:15px;">
        <div class="header" align="center">
          <div class="display-name" >New Capture</div>
        </div>
        <div class="body">
          <%= fields_for "captures[#{index}]", capture do |f| %>
              <%= f.hidden_field :id %>
              <%= f.label :species, 'Species:' %>
              <%= f.select :species_id, grouped_options_for_select(@grouped_options, f.object.species_id) %>
              <br/><br/>
              <% i = 1 %>
              <%= f.label :measurements, 'Measurements:' %>
              <% if @capture_measurements.count > 1 %>
                <br/>(Enter all that apply.)
              <% end %>
              <%= f.fields_for :capture_measurements, @capture_measurements do |capture_measurement| %>
                  <div class="measurement">
                    <% if @capture_measurements.count > 1 %><%= "#{i}. " %><% i = i + 1 %><% end %>
                    <%= capture_measurement.hidden_field :unit_id, :class => "preserved-attribute" %>
                    <%= capture_measurement.text_field :measurement, :value => truncate_integer_decimal(capture_measurement.object.measurement), :size => 5, :style => "width:auto; margin:4px;" %>
                    <%= capture_measurement.object.unit.abbreviation %>
                  </div>
              <% end %>
              <br/>
              <div class="date-wrapper">
                <%= f.label :entered_at, 'Entered At:' %> (If other than current time.)
                <%= text_field_tag :date_input , '', :class => 'datetime-input form-control' %>
                <%= f.hidden_field :entered_at, :value => (f.object.entered_at ? f.object.entered_at.iso8601 : nil), :class => 'date-value' %>
              </div>
              <br/>
              <%= f.check_box :is_redundant %> Redundant entry for any other captures?
              <br/>
          <% end %>
          <br/>
          <div class="row" style="text-align:center;">
            <div class="btn exterminate-button removal-button active">Remove</div>
          </div>
        </div>
  <% end %>
  </div>
  <br style="clear:both;"/>
</div>

<% # SUBMISSION %>

<br/><br/>
<div style="text-align:center">
  <% if !@is_editing %>
      <!-- ONLY SHOW THE ADD CAPTURES BUTTON IF WE ARE CREATING NOW CAPTURE, NOT EDITING -->
      <div class="row"><div class="btn add-captures-button">+</div></div>
  <% end %>
  <br/>
  <%= submit_tag 'Submit Captures', :id => 'submit-captures-button', :class => 'btn', :disabled => true %>
  <br/><br/>
  <% if !@is_editing %>
      <%= check_box 'suppress_sms', 'value', {}, '1', '0' %> Suppress SMS Updates For This Capture?
      <br/><br/>
  <% end %>
  <div id="enter-to-enable">(You must enter the angler before continuing...)</div>
</div>