<h1>Edit</h1>

<%= javascript_include_tag 'html5-qrcode.min' %>
<%#= javascript_include_tag 'autocomplete-rails.js' %>

<%= form_tag "/#{@event.slug}/admin/captures/#{@capture.id}", :method => :patch, :remote => true do %>
  <%= render 'form_inner' %>

<% end %>


<%= javascript_include_tag 'captures' %>