<h1>Captures</h1>

<% if !(can? :edit, Capture) %>
    <br/>
    <p><b style="color:red;">Note:</b> You do not currently have permissions to edit captures. If you notice a mistake during capture entry, contact an administrator immediately.</p>
<% end %>

<% can_show = can? :show, @captures.first %>
<% can_edit = can? :edit, @captures.first %>
<% can_destroy = can? :destroy, @captures.first %>

<table class="table display" id="capturesTable" style="">
  <thead>
  <tr>
    <th>No.</th>
    <th>Participant</th>
    <th>Team</th>
    <th>Species</th>
    <th>Measurements</th>
    <th>Time Entered</th>
    <th>Entered By</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @captures.each do |capture| %>
      <tr>
        <td><%= capture.index %></td>
        <td><%= capture.participant_full_name %></td>
        <td><%= capture.team_name %><%= " (##{capture.team_number})" unless capture.team_number.nil? %></td>
        <td><%= capture.species_name %><%= capture.is_redundant ? ' <span style="color:gray;">(Dupe)</span>'.html_safe : '' %></td>
        <td>
          <% if capture.measurements.nil? %>
            (none)
          <% else %>
            <%= capture.measurements.map {|m| "#{m}" }.join('</br>').html_safe %>
          <% end %>
        </td>
        <td style='white-space: nowrap;' data-order="<%= capture.epoch_time %>">
          <%= capture.time_entered %>
        </td>
        <td><%= capture.user.decorated_name(@event) %></td>
        <td>
            <% if can_show %><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, capture_path(:event_slug => @event.slug, :id => capture.id) %>&nbsp;<% end %>
            <% if can_edit %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_capture_path(:event_slug => @event.slug, :id => capture.id) %>&nbsp;<% end %>
            <% if can_destroy %><%= link_to '<i class="fa fa-trash"></i>'.html_safe, capture_path(:event_slug => @event.slug, :id => capture.id), method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $('#capturesTable').DataTable(
        {
            "order" : [[5,'desc']],
            "lengthMenu" : [[50,100,-1],[50,100,'All']],
            "columnDefs": [{ orderable: false, targets: [7] }]
        }
    );
</script>

<br/>
<% if can? :create, Capture %><%= link_to 'Add New Capture', new_capture_path(:event_slug => @event.slug), :class=> 'btn btn-default' %><% end %>
<br/>
