<%= javascript_include_tag 'html5-qrcode.min' %>
<%#= javascript_include_tag 'autocomplete-rails.js' %>

<%#= render 'form' %>

<%= form_tag "/#{@event.slug}/admin/captures", :method => :post, :remote => true do %>
  <%= render 'form_inner' %>

<% end %>

<%= javascript_include_tag 'captures' %>