<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @capture.id %>
</p>

<p>
  <b>Species:</b>
  <%= @capture.species.name %>
</p>

<p>
  <b>Is Redundant:</b>
  <%= @capture.is_redundant ? 'Yes' : 'No' %>
</p>


<p>
  <b>Measurements:</b>
  <% if @capture.capture_measurements.count == 0 %>
      (none)
  <% else %>
    <ul>
      <% @capture.capture_measurements.each do |measurement| %>
          <li>
            <b><%= "#{truncate_integer_decimal(measurement.measurement)}" %></b>
            <%= "#{measurement.unit.abbreviation}" %>
          </li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <b>Time entered:</b>
  <%= DateTime.parse(@capture.entered_at.iso8601).strftime('%b %d, %Y at %I:%M %p %Z') %>
</p>

<p>
  <b>Participant:</b>
  <%= @capture.participant.full_name %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@capture.user_id).user_name %>
</p>


<% if can? :edit, @capture %><%= link_to 'Edit', edit_capture_path(:event_slug => @event.slug, :id => @capture.id), :class=> 'btn btn-default' %><% end %>
<%= link_to 'List All', captures_path, :class=> 'btn btn-default' %>
