<% if @success %>
  //Redirect to the capture show page.
  var path = "<%= capture_path(:event_slug => CGI.escape(@event.slug), :id => @capture.id) %>";
  window.location = path;
<% else %>
  alert("Capture edit failed. Please try again.");
  $("#submit-captures-button").removeAttr("disabled");
<% end %>