<script type="text/javascript">
    $(window).on('load',function(){
        $('[data-toggle="popover"]').popover({html : true, container : 'body'});
    });
</script>
<h4><%= @user.user_name %></h4>
<%= form_for :event_user, :method => :patch, url: event_user_path(:event_id => @event.id, :id => @user.id) do |f| %>
    <%= f.hidden_field :id, :name => 'event_user[id]', :value => @user.id %>
    <%= f.fields_for :role_ids do |f2| %>
        <% Role.where.not(:id => Role.admin.id).order('display_name ASC').each do |r| %>
            <%= check_box "event_user[role_ids]", nil, {:checked => @user.event_users.where(:event => @event).collect{|eu| eu.role_id}.include?(r.id) }, r.id, nil %>
            <%= r.display_name %>
            <div class="info-icon fa fa-info-circle" data-toggle="popover" data-title="<%= r.display_name %>" data-position="bottom" data-content="<%= r.description %>"></div>
            <br/>
        <% end %>
    <% end %>
    <br/>
    <div class="actions">
      <%= f.submit :class => 'btn btn-default' %>
    </div>
<% end %>