<h1>Manage Permissions</h1>
<br/>

<table class="table table-striped">
  <tr>
    <th>User Name</th>
    <th>Participant</th>
    <th>Roles In This Event</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.decorated_name(@event) %></td>
        <td><%= user.participant.nil? ? 'n/a' : user.participant.full_name %></td>
        <td><%= user.event_users.where(:event => @event).collect{|eu| eu.role.display_name }.join(', ') %></td>
        <td><% if can? :edit, @event %><%= link_to '<i class="fa fa-pencil"> Edit</i>'.html_safe, edit_event_user_path(:event_id => @event.id, :id => user.id) %><% end %></td>
      </tr>
  <% end %>
</table>
