<%= form_tag "/#{@event.slug}/admin/participants", :method => :post, :remote => true do %>

 <%= render 'part' %>

    <div class="row">
      <div class="col-md-2">
        <%= submit_tag "Submit", class: 'form-control' %>
      </div>
    </div>

<% end %>
