<%= fields_for @participant do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
        <% @participant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col-md-3">
      <%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name, :class => 'validate[required] form-control' %>
    </div>
    <div class="field col-md-3">
      <%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name, :class => 'validate[required] form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="field col-md-3">
      <%= f.label :street %>
      <br/>
      <%= f.text_field :street, class:  'form-control'  %>
    </div>
    <div class="field col-md-3">
      <%= f.label :city  %>
      <br/>
      <%= f.text_field :city, class:  'form-control'  %>
    </div>
    <div class="field col-md-3">
      <%= f.label :zipcode %>
      <br/>
      <%= f.text_field :zipcode, class:  'form-control'  %>
    </div>
  </div>

  <div class="row">
    <div class="field col-md-3">
      <%= f.label :email  %>
      <br/>
      <%= f.text_field :email, :class => 'validate[custom[email]] form-control' %>
    </div>
    <div class="field col-md-3">
      <%= f.label :home_phone %>
      <br/>
      <%= f.text_field :home_phone, :class => 'phone validate[custom[phone]] form-control' %>
    </div>
    <div class="field col-md-3">
      <%= f.label :mobile_phone %>
      <br/>
      <%= f.text_field :mobile_phone, :class => 'validate[condRequired[mobile_carrier]] form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="field col-md-2">
      <%= f.label :shirt_size %>
      <br/>
      <%= f.select :shirt_size_id, options_for_select(ShirtSize.all.map{ |t| [t.abbreviation, t.id]}, @participant.shirt_size_id), {:include_blank => 'n/a'}, class: 'form-control' %>
    </div>
    <div class="field col-md-2">
      <%= f.label :gender %>
      <br/>
      <%= f.select :gender_id, options_for_select(Gender.all.map{ |t| [t.name, t.id]}, @participant.gender_id), {:include_blank => '--SELECT--'}, {:class => 'validate[required] form-control'} %>
    </div>

    <div class="field col-md-2">
      <%= label_tag :participation_type %>
      <br/>
      <%= select_tag :event_participation_type_id, options_for_select(@event.event_participation_types.map{ |t| [t.participation_type.name, t.id]}, @participant.participation(@event).event_participation_type.id), {:class => 'validate[required] form-control'} %>
    </div>
  </div>
    
<% end %>

<br>
<br>