<h3>Edit: <%= "#{@participant.first_name} #{@participant.last_name}" %> </h3>
<%= form_tag "/#{@event.slug}/admin/participants/#{@participant.id}", :method => :put, :remote => true do %>

  <%= render 'part' %>
    <div class="row">
      <div class="col-md-2">
        <%= submit_tag "Submit", class: 'form-control' %>
      </div>
    </div>
<% end %>


<%= javascript_include_tag 'participants' %>
