<h1>Participants</h1>

<table class="table table-striped" id="participantTable">
  <thead>
  <tr>
    <th>#</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Team</th>
    <th>Gender</th>
    <!--<th>Email</th>-->
    <!--<th>Home phone</th>-->
    <!--<th>Mobile phone</th>-->
    <th>Type</th>
    <th></th>
    <th></th>
    <th><i class="fa fa-check"></i> In</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @participants.each_with_index do |participant, index| %>
  <tr>
    <td><%= (index+1).to_s %></td>
    <td><%= participant.last_name %></td>
    <td><%= participant.first_name %></td>
    <td><%= participant.team_name + (participant.team_number.nil? ? '' : " (##{participant['team_number'].to_s})") %></td>
    <td><%= participant.gender_name || 'n/a' %></td>
    <td><%= participant.participation_type %></td>
    <td><% if can? :show, participant %><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, participant_path(:event_slug => @event.slug, :id => participant.id) %><% end %></td>
    <td><% if can? :edit, participant %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_participant_path(:event_slug => @event.slug, :id => participant.id) %><% end %></td>
    <td><%= '<i class="fa fa-check"></i>'.html_safe if participant.team_checked_in %></td>
    <td><%= link_to 'Print Badges', badge_participant_path(:event_slug => @event.slug, :id => participant.id), class: "form-control btn btn-default print-button" %></td>
  </tr>
<% end %>
  </tbody>
</table>
<script>
    $('#participantTable').DataTable();
</script>