<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @participant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @participant.last_name %>
</p>

<p>
  <b>Participant Number:</b>
  <%= @participant.participation(@event).number %>
</p>

<p>
  <b>Gender:</b>
  <% if @participant.nil? %>
      <text style="color:#808080">n/a</text>
  <% else %>
      <%= @participant.gender.name %>
  <% end %>
</p>

<p>
  <b>Street:</b>
  <% if @participant.street.nil? %>
      <text style="color:#808080">n/a</text>
  <% else %>
      <%= @participant.street %>
  <% end %>
</p>

<p>
  <b>City:</b>
  <% if @participant.city.nil? %>
      <text style="color:#808080">n/a</text>
  <% else %>
      <%= @participant.city %>
  <% end %>
</p>

<p>
  <b>Zipcode:</b>
  <% if @participant.zipcode.nil? %>
      <text style="color:#808080">n/a</text>
  <% else %>
      <%= @participant.zipcode %>
  <% end %>
</p>

<p>
  <b>Email:</b>
  <% if @participant.email.nil? %>
      <text style="color:#808080">n/a</text>
  <% else %>
      <%= @participant.email %>
  <% end %>
</p>

<p>
  <b>Home phone:</b>
  <% if @participant.home_phone.nil? %>
      <text style="color:#808080">n/a</text>
  <% else %>
      <%= @participant.home_phone %>
  <% end %>
</p>

<p>
  <b>Mobile phone:</b>
  <% if @participant.mobile_phone.nil? %>
      <text style="color:#808080">n/a</text>
  <% else %>
      <%= @participant.mobile_phone %>
  <% end %>
</p>

<p>
  <b>Mobile carrier:</b>
  <% if !@participant.mobile_carrier.nil? %>
      <%= @participant.mobile_carrier.name %>
  <% else %>
      <text style="color:#808080">n/a</text>
  <% end %>
</p>

<p>
  <b>Shirt size:</b>
  <% if !@participant.shirt_size.nil? %>
      <%= @participant.shirt_size.name %>
  <% else %>
      <text style="color:#808080">n/a</text>
  <% end %>
</p>

<p>
  <b>Type:</b>
  <%= @participant.participation(@event).event_participation_type.participation_type.name %>
</p>

<div class="id-card section_to_print">

  <div class="id-card-event-header">
    <h3 class="text-center"><%= @event.name %></h3>
    <h4 class="text-center"><%= @event.start_date.strftime("%b %d, %Y") %>
      - <%= @event.end_date.strftime("%b %d, %Y") %></h4>
  </div>

  <img src="/assets/logo2.png" class="logo-image"/>
  <table class="id-info">
    <tbody>
    <tr>
      <td style="text-align: right">ID:</td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td style="text-align: left"><%= @participant.participation(@event).number %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Name:</td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td style="text-align: left"><%= @participant.first_name %> <%= @participant.last_name %></td>
    </tr>
    <tr>
      <td style="text-align: right">Team:</td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td style="text-align: left"><%= @participant.participation(@event).team.name %></td>
    </tr>
    <tr>
      <td style="text-align: right">Type:</td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td style="text-align: left"><%= @participant.participation(@event).event_participation_type.participation_type.name %></td>
    </tr>
    <tr>
      <td style="text-align: right">Leaderboard:</td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td style="text-align: left"><%= @event.short_leaderboard_url %></td>
    </tr>
    <tr>
      <td style="text-align: right">Team Summary:</td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td style="text-align: left"><%= @participant.participation(@event).team.summary_short_url %></td>
    </tr>
    </tbody>
  </table>

  <%= image_tag @participant.qr_code(200, @event), :class => 'qr-code' %>

</div>
<br>
<%= link_to 'Edit', edit_participant_path(:event_slug => @event.slug, :id => @participant.id), :class => 'btn btn-default' %>
<%= link_to 'Back', :back, :class => 'btn btn-default' %>