<div class="leaderboard-body">
  <div class="event-title-container">
    <h2 class="text-center"><%= "Captures for " + @participant.name%></h2>
  </div>

  <div id="leaderboard-categories">
    <% @category_place.each do |name,s_category|%>
      <% if s_category.count > 0 %>
        <h4 class="text-center"><%= name %></h4>
        <% s_category.each do |name,category| %>
          <% if category.count > 0 %>

            <div class="leaderboard-category">
              <h4 class="text-center"><%= name %></h4>

              <table class="table table-striped">
                <tbody>
                <% category.each do|place| %>
                  <tr>
                    <%#= raise place.inspect %>
                    <!-- For when we add species stuff to the caps method in category -->
                    <td><%#= place['species'] %></td>
                    <td><%= place['weight'] %></td>
                    <td><%= place['total_points'].present? ? "#{place['total_points'].to_i} pts." : place['row'].to_i.ordinalize %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>