<%= fields_for @category_item do |f| %>
    <% if @category_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category_item.errors.count, "error") %> prohibited this category item from being saved:</h2>

          <ul>
            <% @category_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="card">
      <div class="body">
        <div class="row">
          <% if @category.category_type == :species_unit %>
              <div class="field col-md-3">
                <b>Species</b>
                <%= f.select :species_id, Species.all.order('name ASC').collect { |s| [s.name, s.id] }, :class => 'form-control', :required => true %>
              </div>
              <div class="field col-md-3">
                <b>Unit</b>
                <%= f.select :unit_id, Unit.all.collect { |s| [s.name.capitalize + ' (' + s.description + ')', s.id] }, :class => 'form-control', :required => true %>
              </div>

          <% elsif @category.category_type == :species_capture %>
              <div class="field col-md-3">
                <b>Species</b>
                <%= f.select :species_id, Species.all.order('name ASC').collect { |s| [s.name, s.id] }, :class => 'form-control', :required => true %>
              </div>

          <% elsif @category.category_type == :species_points %>
              <div class="field col-md-3">
                <b>Species</b>
                <%= f.select :species_id, Species.all.order('name ASC').collect { |s| [s.name, s.id] }, :class => 'form-control', :required => true %>
              </div>
              <div class="field col-md-3">
                <b>Points</b>
                <%= f.number_field :points, :class => 'form-control', :required => true %>
              </div>

          <!--Must be a category_grouping-->
          <% else %>
              <div class="field col-md-3">
                <b>Place</b>
                <%= f.number_field :place, :class => 'form-control', :required => true %>
              </div>
              <div class="field col-md-3">
                <b>Points</b>
                <%= f.number_field :points, :class => 'form-control', :required => true %>
              </div>
              </div>
              <div>
                <b>Super Categories</b>
                <br/>
                <br/>
                <% current_super_categories = @category_item.category_grouping_item_super_categories.collect{|c|c.super_category.id} %>
                <%= f.fields_for :super_category_ids do |f2| %>
                    <% @category.super_category.event.super_categories.order('page ASC, position ASC, name ASC').each do |sc| %>
                        <%= check_box "category_grouping_item[super_category_ids]", nil, {:checked => current_super_categories.include?(sc.id) }, sc.id, nil %> <%= sc.name %>
                        <br/>
                    <% end %>
                <% end %>
                <br/>
                <b>Note:</b> Only <u>species unit</u> and <u>species points</u> categories in the checked super-categories above will be considered. Group-type categories cannot be nested.
              </div>

          <% end %>

        </div>

      </div>

    </div>

<% end %>