<h1>Items for <%= @category.name %></h1>

<table class="table table-striped">
  <% if @category_items.first.nil? %>

      No items to show.

  <% else %>

      <% if @category.category_type == :species_unit %>

          <tr>
            <th>Species</th>
            <th>Unit</th>
            <th></th>
            <th></th>
          </tr>
          <% @category_items.each do |item| %>
              <tr>
                <td><%= Species.where(:id => item.species_id).first.name %></td>
                <td><%= item.unit.description %></td>
                <td><% if can? :show, item %><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => item.id) %><% end %></td>
                <td><% if can? :edit, item %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => item.id) %><% end %></td>
              </tr>
          <% end %>

      <% elsif @category.category_type == :species_capture %>

          <tr>
            <th>Species</th>
            <th></th>
            <th></th>
          </tr>
          <% @category_items.each do |item| %>
              <tr>
                <td><%= Species.where(:id => item.species_id).first.name %></td>
                <td><% if can? :show, item %><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => item.id) %><% end %></td>
                <td><% if can? :edit, item %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => item.id) %><% end %></td>
              </tr>
          <% end %>

      <% elsif @category.category_type == :species_points %>

          <tr>
            <th>Species</th>
            <th>Points</th>
            <th></th>
            <th></th>
          </tr>
          <% @category_items.each do |item| %>
              <tr>
                <td><%= Species.where(:id => item.species_id).first.name %></td>
                <td><%= item.points %></td>
                <td><% if can? :show, item %><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => item.id) %><% end %></td>
                <td><% if can? :edit, item %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => item.id) %><% end %></td>
              </tr>
          <% end %>

      <% elsif @category.category_type == :group %>

          <tr>
            <th>Place</th>
            <th>Points</th>
            <th></th>
            <th></th>
          </tr>
          <% @category_items.each do |item| %>
              <tr>
                <td>
                  <%= item.place %>
                  <br/>
                  <%= item.category_grouping_item_super_categories.collect{|c|c.super_category.name}.join(', ') %>
                </td>
                <td><%= item.points %></td>
                <td><% if can? :show, item %><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => item.id) %><% end %></td>
                <td><% if can? :edit, item %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => item.id) %><% end %></td>
              </tr>
          <% end %>

      <% else %>
          <% raise 'Unknown category type.' %>
      <% end %>

  <% end %>
</table>

<%= link_to 'New Item', new_category_category_item_path(:event_slug => @event.slug, :category_id => @category.id) %> |
<%= link_to 'Back to Category', category_path(:event_slug => @event.slug, :id => @category.id) %>