<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<% if @category.category_type == :species_unit %>
    <div>
      <b>Species:</b>
      <%= Species.where(:id => @category_item.species_id).first.name %>
    </div>
    <div>
      <b>Unit:</b>
      <%= @category_item.unit.name.capitalize + ' (' + @category_item.unit.description + ')' %>
    </div>

<% elsif @category.category_type == :species_capture %>
    <div>
      <b>Species:</b>
      <%= Species.where(:id => @category_item.species_id).first.name %>
    </div>

<% elsif @category.category_type == :species_points %>
    <div>
      <b>Species:</b>
      <%= Species.where(:id => @category_item.species_id).first.name %>
    </div>
    <div>
      <b>Points:</b>
      <%= @category_item.points %>
    </div>

    <!--Must be a category_grouping-->
<% elsif @category.category_type == :group %>
    <div>
      <b>Place:</b>
      <%= @category_item.place %>
    </div>
    <div>
      <b>Points:</b>
      <%= @category_item.points %>
    </div>
    <div>
      <b>Super Categories:</b>
      <%= @category_item.category_grouping_item_super_categories.collect{|c|c.super_category.name}.join(', ') %>
    </div>

<% else %>
    <% raise 'Unknown category type.' %>
<% end %>

<br/>

<% if can? :edit, @category_item %><%= link_to 'Edit', edit_category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => @category_item.id) %> | <% end %>
<% if can? :delete, @category_item %><%= link_to 'Delete', category_category_item_path(:event_slug => @event.slug, :category_id => @category.id, :id => @category_item.id), :confirm => "Delete this item?", :method => :delete %> | <% end %>
<%= link_to 'Back to Category', category_path(:event_slug => @event.slug, :id => @category.id) %>