<script type="text/javascript">
    $(window).on('load',function(){
        $('[data-toggle="popover"]').popover({html : true, container : 'body'});
    });
</script>
<%= form_for(@user) do |f| %>

  <h3>Login Information</h3>

  <div class="row-fluid">

      <div class="field span3">
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name, :class => 'validate[required]' %>
      </div>

    <% if !@user.persisted? %>
        <div class="field span3">
          <%= f.label :password %><br />
          <%= f.password_field :password, :id => 'original-pass', :class => 'validate[required]'%>
        </div>

        <div class="field span3">
          <%= f.label :confirmation %><br />
          <%= f.password_field :password_confirmation, :class => 'validate[required,equals[original-pass]]' %>
        </div>
    <% end %>

    <%= f.label :roles %> (For all events)<br />
    <%= f.fields_for :role_ids do |f2| %>
        <% Role.all.order('name ASC').each do |r| %>
            <%= check_box "user[role_ids]", nil, {:checked => @user.roles.include?(r) }, r.id, nil %>
            <%= r.display_name %>
            <div class="info-icon fa fa-info-circle" data-toggle="popover" data-title="<%= r.display_name %>" data-position="bottom" data-content="<%= r.description %>"></div>
            <br/>
        <% end %>
    <% end %>
    <br/>

  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
  </div>

<% end %>
