<h1>Change Password</h1>

<%= @user.decorated_name %>
<br/><br/>

<%= form_for @user, :url => admin_update_password_path(@user) do |f| %>

    <div class="field span3">
      <%= f.label :password %><br />
      <%= f.password_field :password, :id => 'original-pass', :class => 'validate[required]'%>
    </div>

    <div class="field span3">
      <%= f.label :confirmation %><br />
      <%= f.password_field :password_confirmation, :class => 'validate[required,equals[original-pass]]' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>