<h1>Users</h1>
<br/>

<table class="table table-striped">
  <tr>
    <th>User Name</th>
    <th>Participant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.decorated_name %></td>
    <td><%= user.participant.nil? ? 'n/a' : user.participant.full_name %></td>
    <td><% if can? :show, user %><%= link_to '<i class="fa fa-folder-open"> Show</i>'.html_safe, user %><% end %></td>
    <td><% if can? :edit, user %><%= link_to '<i class="fa fa-pencil"> Edit</i>'.html_safe, edit_user_path(user) %><% end %></td>
    <td><% if can? :destroy, user %><%= link_to '<i class="fa fa-trash"> Delete</i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, User %><%= link_to 'New User', new_user_path, :class => 'btn btn-default' %><% end %>
