<p id="notice"><%= notice %></p>

<p>
  <%= @user.decorated_name %>
</p>

<p>
  <b>Participant:</b>
  <% if @user.participant.nil? %>
    N/A
  <% else %>
    <%= @user.participant.full_name %>
  <% end %>
</p>

<p>
  <b>Personal Roles:</b>
  <% if @user.roles.count == 0 %>
      None
  <% else %>
    <%= @user.roles.collect{|r| r.name }.join(', ') %>
  <% end %>
</p>

<p>
  <b>Event Roles:</b>
  <% if @user.events.count == 0 %>
      None
  <% else %>
      <br/>
      <ul>
        <% @user.events.order('start_date DESC, name ASC, id DESC').each do |event| %>
            <li><b><%= event.name %></b> : <%= EventUser.where(:user => @user, :event => event).collect{|eu| eu.role.name}.uniq.join(', ') %></li>
        <% end %>
      </ul>
  <% end %>
</p>


<% if can? :edit, @user %><%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-default' %><% end %>
<% if can? :edit, @user %><%= link_to 'Change Password', admin_edit_password_path(@user), :class => 'btn btn-default' %><% end %>
<%= link_to 'Back', :back, :class => 'btn btn-default' %>
