<table class="table">
  <thead>
  <tr>
    <th style="width:50%;"></th>
    <th style="width:25%;">Starts</th>
    <th style="width:25%;">Ends</th>
  </tr>
  </thead>
  <tbody>
  <% event_list.each do |event| %>
      <tr>
        <td>
          <%= link_to event.name, "/#{event.slug}", :target => '_blank' %>
        </td>
        <td class="event-time">
          <%= event.start_date.in_time_zone(@browser_timezone).strftime('%a, %b %d, %Y at %H:%M %Z') %>
        </td>
        <td class="event-time">
          <%= event.end_date.in_time_zone(@browser_timezone).strftime('%a, %b %d, %Y at %H:%M %Z')  %>
        </td>
      </tr>
  <% end %>
  <% if event_list.count == 0 %>
      <tr class="text-center">
        <td colspan="3">(No Event Scheduled)</td>
      </tr>
  <% end %>
  </tbody>
</table>