<style type="text/css">

    table {
        border-collapse: collapse;
    }

    table td, table th {
        border: 1px solid lightgrey;
    }

    table tr:first-child th {
        border-top: 0;
    }

    table tr:last-child td {
        border-bottom: 0;
    }

    table tr td:first-child,
    table tr th:first-child {
        border-left: 0;
    }

    table tr td:last-child,
    table tr th:last-child {
        border-right: 0;
    }

    h4 {
        font-weight:bold;
    }
</style>

<h4>Current Events</h4>
<%= render :partial => 'list_table', :locals => {:event_list => @current} %>
<br/>

<h4>Upcoming Events</h4>
<%= render :partial => 'list_table', :locals => {:event_list => @future} %>
<br/>

<h4>Recent Events</h4>
<%= render :partial => 'list_table', :locals => {:event_list => @recent} %>

<br/>
<div style="text-align:center">
    <button id="past-event-toggle" type="button" class="btn btn-info" data-toggle="collapse" data-target="#past-events">Show Past Events</button>
</div>
<div id="past-events" class="collapse out">
  <h4>Past Events</h4>
  <%= render :partial => 'list_table', :locals => {:event_list => @past} %>
</div>
<br/>

<script type="text/javascript">
    $('#past-event-toggle').click(function(){
        $(this).text(function(i,old){
            return old == 'Show Past Events' ?  'Hide Past Events' : 'Show Past Events';
        });
    });
</script>
