<%
   type = nil
   items = {}
   if category.category_type.to_s == 'species_unit'
     type = "Species Units"
     category.category_species_unit_items.each do |item|
       items[item.species.name] = nil
     end
   elsif category.category_type.to_s == 'species_capture'
       type = "Species Capture"
       category.category_species_capture_items.each do |item|
         items[item.species.name] = nil
       end

   elsif category.category_type.to_s == 'species_points'
     type = "Species Points"
     category.category_species_points_items.each do |item|
       items[item.species.name] = item.points.to_s + ' Points'
     end
   elsif category.category_type.to_s == 'group'
     type = "Category Group"
     category.category_grouping_items.order('place ASC').each do |item|
       inner = []
       item.category_grouping_item_super_categories.each do |cat|
         inner << cat.super_category.name + ' (' + cat.super_category.id.to_s + ')'
       end
       items[('Place ' + item.place.to_s + ' &rarr; ' + item.points.to_s + ' Points').html_safe] = inner
     end
     puts items.to_s
   else
     raise 'Unknown category type.'
   end
   if items.length == 0
     items = nil
   end
%>
<b><%= type %>:</b>
<% if items.nil? %>
    <!-- It's Empty -->
    n/a
<% else %>
    <!-- There Are Items -->
    <% items.each_with_index do |(k,v), index| %>
        <%= k.to_s %>
        <% if v.kind_of?(Array) %>
            [
            <% #Print each item in the array (i.e. super_categories for group categories). %>
            <% v.each do |value| %>
                <%= value %>
            <% end %>
            ]
        <% else %>
            <% if v != nil %>
                &rarr;
                <% if (items.size - 1) == index %>
                    <%= v.to_s %>
                <% else %>
                    <%= v.to_s %>,
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>