<% category = form.object %>

<div class="category card">

  <div class="header">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-11">
          <span class="display-name" style="display: none">
            <%= category.name %>
          </span>
        </div>

        <div class="col-md-1">
          <i class="fa fa-chevron-down chevron pull-right"></i>
        </div>

      </div>
    </div>
  </div>

  <div class="body container-fluid">

    <!--start of first row of options-->

    <div class="row">
      <div class="field col-md-5">
        <%= form.label :name %>
        <%= form.text_field :name, :class => 'validate[required] form-control' %>
        <%= form.hidden_field :id  %>
      </div>

      <div class="field col-md-2">
        <%= form.label 'Category type', 'Category Type' %>
        <%= form.select :category_type, options_for_select(Category.enumerated_attributes[:category_type].invert.except(""), category.category_type), {}, :class => 'form-control' %>
      </div>

      <div class="field col-md-2 col-md-offset-8">

        <div class="btn btn-default exterminate-button pull-right">Remove</div>
      </div>




    </div>

    <!--start of second row of options-->

    <div class="row">
      <div class="field col-md-3">
        <%= form.label 'Min age', 'Min Age' %>
        <%= form.select :start_age, options_for_select((5..100).step(1), category.start_age), {}, {:class => 'form-control', :include_blank => true} %>
      </div>

      <div class="field col-md-3">
        <%= form.label 'Max age', 'Max Age' %>
        <%= form.select :end_age, options_for_select((5..100).step(1), category.end_age), {}, {:class => 'form-control', :include_blank => true} %>
      </div>

      <div class="field col-md-3">
        <%= form.label 'Gender' %>
        <%= form.select :gender, options_for_select(Gender.all.map {|el| [el.name, el.id]}, category.gender), {}, {:class => 'form-control', :include_blank => true} %>
      </div>

      <div class="field col-md-3">
        <%= form.label 'Number of Places', 'Places' %>
        <%= form.select :positions, options_for_select((1..20).step(1), category.positions), {}, {:class => 'form-control'} %>
      </div>

    </div>

    <!--start of third row of options-->

    <div class="row">
      <div class="field col-md-3">
        <%= form.label 'Category Type', 'Category Type' %>
        <%= form.select :category_type, options_for_select(Category.enumerated_attributes[:category_type].invert.except(""), category.category_type), {}, :class => 'form-control' %>
      </div>

      <div class="field col-md-3">
        <%= form.label 'Score Entity' %>
        <%= form.select :score_entity, options_for_select(Category.enumerated_attributes[:score_entity].invert.except(""), category.score_entity), {}, :class => 'form-control' %>
      </div>

      <div class="field col-md-3">
        <%= form.label 'Capture Grouping', 'Capture Grouping' %>

        <div class="row">
          <div class="col-md-6">
            <%= form.select :score_grouping, options_for_select(Category.enumerated_attributes[:score_grouping].invert.except(""), category.category_type), {}, :class => 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= form.select :score_grouping_limit, options_for_select((1..20).step(1), category.score_grouping_limit), {}, :class => 'form-control' %>
          </div>
        </div>
      </div>





    </div>

    <!--start of scoring items-->

    <div class="container-fluid scoring-items">
      <%= form.fields_for :category_grouping_items, category.category_grouping_items do |item_group_form| %>
        <%= render partial: 'item_group', :locals => {form: item_group_form} %>
      <% end %>

      <%= form.fields_for :category_species_unit_items, category.category_species_unit_items do |item_species_unit_form| %>
        <%= render partial: 'item_species_unit', :locals => {form: item_species_unit_form} %>
      <% end %>

      <%= form.fields_for :category_species_points_items, category.category_species_points_items do |item_species_point_form| %>
        <%= render partial: 'item_species_point', :locals => {form: item_species_point_form} %>
      <% end %>
    </div>

    <!--end of scoring items-->
  </div>

</div>
<!--end category-->