<div class="row">
  <div class="col-md-6">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'validate[required] form-control' %>
  </div>
</div>

<h3>Participant Types</h3>

<div class="row">
  <div class="col-md-6">
    <% participation_types = ParticipationType.all.map{ |p| [p.name, p.id] }  %>
    <% selected_participation_types = @event.event_participation_types.collect {|e| e.participation_type}.map{ |p| p.id }  %>
    <%= select_tag 'event[participation_types][]', options_for_select(participation_types, selected_participation_types), multiple: true %>
  </div>
</div>

<h3>Time</h3>

<div class="row">
  <div class="col-md-6">
    <%= form.label :start_date %>
    <div class="date-wrapper">
      <%= text_field_tag :input_start_date, '', :class => 'datetime-input form-control' %>
      <%= form.hidden_field :start_date, :class => 'date-value' %>
    </div>
  </div>

  <div class="col-md-6">
    <%= form.label :end_date %>
    <div class="date-wrapper">
      <%= text_field_tag :input_end_date, '', :class => 'datetime-input form-control' %>
      <%= form.hidden_field :end_date, :class => 'date-value' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.label :timezone, 'Time zone of event' %>
    <%= form.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, {default: 'Pacific Time (US & Canada)'}, {:class => 'validate[required] form-control'} %>
  </div>
</div>

<h3>Colors</h3>

<div class="row">
  <div class="col-md-6">

    <div class="row">
      <div class="col-md-6">
        <%= form.label :banner_color %> <br>
      </div>
    </div>

    <div class="row color-fields">
      <div class="col-md-6">
        <%= color_field_tag :banner_color,  form.object.banner_color.try(:upcase), :class => 'form-control color-picker' %>
      </div>
      <div class="col-md-6">
        <%= form.text_field :banner_color, value: form.object.banner_color.try(:upcase) , :class =>'form-control color-field'%>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6">

    <div class="row">
      <div class="col-md-6">
        <%= form.label :category_text_color %> <br>
      </div>
    </div>

    <div class="row color-fields">
      <div class="col-md-6">
        <%= color_field_tag :category_text_color,  form.object.category_text_color.try(:upcase), :class => 'form-control color-picker' %>
      </div>
      <div class="col-md-6">
        <%= form.text_field :category_text_color, value: form.object.category_text_color.try(:upcase) , :class =>'form-control color-field'%>
      </div>
    </div>
  </div>

  <div class="col-md-6">

    <div class="row">
      <div class="col-md-6">
        <%= form.label :category_background_color %> <br>
      </div>
    </div>

    <div class="row color-fields">
      <div class="col-md-6">
        <%= color_field_tag :category_background_color,  form.object.category_background_color.try(:upcase), :class => 'form-control color-picker' %>
      </div>
      <div class="col-md-6">
        <%= form.text_field :category_background_color, value: form.object.category_background_color.try(:upcase) , :class =>'form-control color-field'%>
      </div>
    </div>

  </div>

</div>

<h3>Files</h3>


<div class="row">

  <div class="col-md-12">

  <%= form.label 'Event Logo' %>

    <div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							Browse… <%= form.file_field :icon %>
						</span>
					</span>
      <input type="text" class="form-control" readonly="">
    </div>
  </div>


</div>

<br>

<div class="row">

  <div class="col-md-12">

    <%= form.label 'Leaderboard Background Image' %>

    <div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							Browse… <%= form.file_field :leaderboard_background %>
						</span>
					</span>
      <input type="text" class="form-control" readonly="">
    </div>
  </div>


</div>

<br>

<div class="row">

  <div class="col-md-12">

    <%= form.label 'ODF Badge Template' %>

    <div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							Browse… <%= form.file_field :badge_template %>
						</span>
					</span>
      <input type="text" class="form-control" readonly="">
    </div>
  </div>



</div>

<br>

<div class="row">

  <div class="col-md-12">

    <%= form.label 'ODF Ballot Template' %>

    <div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							Browse… <%= form.file_field :ballot_template %>
						</span>
					</span>
      <input type="text" class="form-control" readonly="">
    </div>
  </div>


</div>