<%= form_for(@event) do |event_form| %>
    <div id="flash_messages"></div>

    <!--fields for event-->
    <%= render partial: 'event_fields', locals: {form: event_form } %>

    <br>

    <div class="actions">
      <%= event_form.submit action_name.capitalize + ' Event', class: 'btn btn-default' %>
    </div>
<% end %>