<table class="table table-striped">

  <tbody>

  <tr>
    <td>Captures</td>
    <td></td>
    <td><%= @event.captures.count %></td>
  </tr>

  <tr>
    <td>Teams</td>
    <td></td>
    <td><%= @event.teams.count %></td>
  </tr>

  <tr>
    <td>Participants</td>
    <td></td>
    <td><%= @event.teams.collect {|t| t.participants}.flatten.count %></td>
  </tr>

  <!--<#% Participant::PARTICIPANT_TYPE.each do |k,v| %>-->
    <!--<#% @participants.each do |participant| %>-->
    <!--<#% if @participants.where(:participant_type => k).count > 0 %>-->
      <!--<tr>-->
      <!--<td></td>-->
      <!--<td><%#= v %></td>-->
      <!--<td><%#= @participants.where(:participant_type => k).count %></td>-->
      <!--</tr>-->
    <!--<%# end %>-->
  <!--<%# end %>-->

  </tbody>
</table>