<!--Bulk Team form-->
<% unless @teams.nil? %>
    <%= form_tag event_upload_path, {multipart: true, :role => 'form', :class => 'form-inline'} do %>
        <% @teams.each do |team| %>
            <div class = "category-wrapper">
              <b><%= team.name %></b>
              <div>Company: <%= team.company %></div>
              <div>
                Captain: <%= team.captain.first_name %> <%= team.captain.last_name %>
                <% unless @matches[team.captain.last_name].nil? || @matches[team.captain.last_name][team.captain.first_name].nil? %>
                    - A <%= team.captain.first_name %> <%= team.captain.last_name %> exists. Add existing participant to this team, or create a new one?
                    <%= select_tag(:post, options_for_select(@matches[team.captain.last_name][team.captain.first_name]), {:prompt => 'Create a new ' + team.captain.first_name + ' ' + team.captain.last_name, name: 'use_existing_' + team.captain.last_name + '_' + team.captain.first_name, :style => 'max-width:20%'}) %>
                <% end %>
              </div>
              <div>Participants: </div>
              <% team.participants.each do |participant| %>
                  <div>
                    <%= participant.participations.last.event_participation_type.participation_type.name %> - <%= participant.first_name %> <%= participant.last_name %>
                    <% unless participant.first_name == team.captain.first_name && participant.last_name == team.captain.last_name %>
                        <% unless @matches[participant.last_name].nil? || @matches[participant.last_name][participant.first_name].nil? %>
                            - A <%= participant.first_name %> <%= participant.last_name %> exists. Add existing participant to this team, or create a new one?
                            <%= select_tag(:post, options_for_select(@matches[participant.last_name][participant.first_name]), {:prompt => 'Create a new ' + participant.first_name + ' ' + participant.last_name, name: 'use_existing_' + participant.last_name + '_' + participant.first_name, :style => 'max-width:20%'}) %>
                        <% end %>
                    <% end %>
                  </div>
              <% end %>
              <%= hidden_field_tag team.name + ' captain', team.captain.to_json %>
              <%= hidden_field_tag team.name, team.participants.to_json %>
            </div>
        <% end %>
        <br>

        <%= hidden_field_tag "teams", @teams.to_json %>
        <button type="submit" class="form-control">Upload</button>
    <% end %>
<% else %>
    <div> No teams to show. </div>
<% end %>

