<h1>Events</h1>

<table class="table table-striped" id="eventTable">
  <thead>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Actions</th>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
        <td><%= link_to event.name, event_landing_path(:event_slug => event.slug) %></td>
        <td><%= event.start_date.in_time_zone(@browser_timezone).strftime('%b %d, %Y at %I:%M %p %Z') %></td>
        <td><%= event.end_date.in_time_zone(@browser_timezone).strftime('%b %d, %Y at %I:%M %p %Z') %></td>
        <td>
          <% if can? :show, event %><%= link_to '<i class="fa fa-folder-open"> Details</i>'.html_safe, event %>&nbsp;<% end %>
          <% if can? :edit, event %>
              <%= link_to '<i class="fa fa-pencil"> Edit</i>'.html_safe, edit_event_path(event) %>&nbsp;
              <%= link_to '<i class="fa fa-user"> Users</i>'.html_safe, event_users_path(event) %>&nbsp;
          <% end %>
          <% if can? :destroy, event %><%= link_to '<i class="fa fa-trash"> Delete</i>'.html_safe, event, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;<% end %>
          <% if can? :create, Event %><%= link_to '<i class="fa fa-copy"> Copy</i>'.html_safe, {:controller => "events", :action => "clone", :method => "post", :event_id => event.id}, data: {confirm: 'Clone this event?' } %>&nbsp;<% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
<script>
    $('#eventTable').DataTable();
</script>
<br />

<% if can? :create, Event %><%= link_to 'New Event', new_event_path, :class=>'btn btn-default' %><% end %>