<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @event.start_date.strftime('%b %d, %Y') %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date.strftime('%b %d, %Y') %>
</p>



<b>Import Spreadsheet:</b>
<%= form_tag event_admin_events_import_path(@event), {multipart: true, :role => 'form', :class => 'form-inline'} do %>
    <%= file_field_tag :file %>
    <br>
    <% if flash[:alert] %>
        <div class="alert alert-danger" style="width:180px;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= flash[:alert] %></strong>
        </div>
    <% end %>
    <button type="submit" class="form-control">Import</button>
<% end %>
<br/>

<div class="row">
  <div class="col-md-6">
    <b>Icon:</b><br>
    <%= link_to image_tag(@event.icon.url, height: '200'), event_landing_path(event_slug: @event.slug) %>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-default' %>