= form_for @premium_category_grouping do |f|
  - if @premium_category_grouping.errors.any?
    #error_explanation
      %h2= "#{pluralize(@premium_category_grouping.errors.count, "error")} prohibited this premium_category_grouping from being saved:"
      %ul
        - @premium_category_grouping.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', placeholder: 'Name'
    = f.hidden_field :event_id, value: @event.id

  .form-group
    = f.label :price
    .input-group
      .input-group-addon $
      = f.text_field :price, class: 'form-control', placeholder: 'Price'

  .actions
    = f.submit 'Save', class: 'btn btn-default'
