%h1 Premium Category Groupings

%table.table.display
  %thead
    %tr
      %th Name
      %th Price
      %th Actions

  %tbody
    - @premium_category_groupings.each do |premium_category_grouping|
      %tr
        %td= premium_category_grouping.name
        %td= number_to_currency(premium_category_grouping.price)
        %td
          - if can? :edit, premium_category_grouping
            = link_to '<i class="fa fa-pencil"> Edit</i>'.html_safe, edit_premium_category_grouping_path(@event.slug,premium_category_grouping) if can?(:edit, premium_category_grouping)
          - if can? :delete, premium_category_grouping
            = link_to '<i class="fa fa-trash"> Delete</i>'.html_safe, premium_category_grouping_path(@event.slug, premium_category_grouping), :method => :delete, :data => { :confirm => 'Are you sure?' } if can?(:destroy, premium_category_grouping)

  %br

- if can? :create, PremiumCategoryGrouping
  = link_to 'New Premium category grouping', new_premium_category_grouping_path(@event.slug), class: 'btn btn-default'