<h1 align="center">Sign In</h1><br>
<style>
    form{
        width:190px;
        list-style-type:none;
        list-style-position:outside;
        margin:0px;
        padding:0px;
    }
    textarea{
        width: 250px;
        height: 100px;
    }
</style>
<div id='sign_in' align="center" style="margin:0 auto; width: 200px; min-height: 100px; border-radius: 20px; ">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :user_name, 'Username' %><br />
  <%= f.text_field :user_name, :autofocus => true, class: 'form-control' %></div>
<br>
  <div><%= f.label :password %><br />
  <%= f.password_field :password, class: 'form-control' %></div>
<br>
  <div><%= f.submit "Sign In", class: 'btn btn-default', style: 'width: 100%' %></div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
</div>