<% content_for :head do %>
  <%= stylesheet_link_tag 'events_print', :media => :print %>
  <%= javascript_include_tag 'leaderboard' %>
<% end %>

<div id="events_results" style="text-align:center;">
  <h1><%= @event.name %></h1>
  Event Results (As of <span><%= Time.now.in_time_zone(@browser_timezone).strftime('%b %d, %Y at %I:%M %p %Z') %></span>)
  <hr/>
  <% @results['category_groups'].each do |category_group| %>
    <div class="title-container">
      <h3><%= category_group['name'] %></h3>
    </div>
    <% category_group['categories'].each do |category| %>
      <div class="table-container">
        <table class="printable-table" style="width:750px;">
          <tr>
            <th></th>
            <th colspan="2" style="text-align:left"><%= category['name'] %></td>
            <th class="text-center">Notes</th>
          </tr>
          <% category['rankings'].each do |ranking| %>
            <tr>
              <td style="width:10%"><%= ranking['position_label'] %></td>
              <td>
                <% if ranking['is_empty'] %>
                    <span style="color:gray;">(Empty)</span>
                <% else %>
                    <%= ranking['entity_label'] %>
                <% end %>
              </td>
              <td style="width:15%; text-align:right; padding-right:5px; ">
                <% puts category['display_mode'] %>
                <%= render :partial => 'leaderboard/score_label', :locals => {:rank => ranking, :display_mode => category['display_mode']} %>
              </td>
              <td class="notes"><%= ranking['team_notes'] || '' %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
    <br/>
  <% end %>
</div>
<br/>