<h2 align="center">Event Categories</h2>
<hr/>
<%
   ph = '<span class="empty-value">n/a</span>'.html_safe
%>

<% @event.super_categories.order('page ASC, position ASC, name ASC').each do |super_category| %>
    <h3><%= super_category.name %></h3>
    <div class="super-category-information">
      <li>
        <div class="key">ID:</div>
        <div class="value"><%= super_category.id.nil? ? ph : super_category.id.to_s %></div>
      </li>
      <li>
        <div class="key">Page:</div>
        <div class="value"><%= super_category.page.nil? ? ph : super_category.page %></div>
      </li>
      <li>
        <div class="key">Position:</div>
        <div class="value"><%= super_category.position.nil? ? ph : super_category.position %></div>
      </li>
      <% super_category.categories.order('grouping_number ASC, position ASC, name ASC, id ASC').each do |category| %>
          <%= render 'categories/summary_box', :category => category %>
      <% end %>
    </div>
    <hr/>
<% end %>