<% if @premium_categories.empty? %>
    <h1 align="center">No Premium Categories</h1>

<% else %>

    <table class="table table-striped" style="border:2px solid gray;">
      <tr style="border-bottom:2px solid gray;">
        <th>Premium Grouping</th>
        <th style="border-left:1px solid black;">Registered Teams</th>
      </tr>
      <% @premium_categories.each do |pc| %>
          <tr>
            <td><%= pc.name %></td>
            <td style="border-left:1px solid black;"><%= pc.teams.count %></td>
          </tr>
      <% end %>
    </table>

    <hr/>

    <% @teams.each do |team| %>
        <b><%= (team.number == nil ? '' : "(##{team.number}) ") + team.name %></b>
        <br/>
        <br>
        <% if team.premium_category_groupings.count > 0 %>
            <table class="table table-striped table-bordered" style="width: 25%">
              <tbody>
              <% team.premium_category_groupings.each do |tpc| %>
                  <tr>
                    <td><%= tpc.name %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <table class="table table-bordered" style="width: 25%">
            <tr><td>No Premium Categories</td></tr>
            </table>
        <% end %>
        <br/><br/>
    <% end %>

<% end %>