
.box-container {
  border: solid 1px #000000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.box-container .header {
  height: 45px;
  background: grey;
  padding-left:15px;
  border: solid 1px grey;

  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box-container .header.rounded-border {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.box-container .header .display-name {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 7px;
  margin-top: 11px;
}

.box-container .body {
  padding: 20px;
}

.box-container .chevron {
  color: white;
  font-size: 2em;
  margin-top: 6px;
  margin-right: 17px;

  -webkit-transition: all 400ms ease-in-out;
  -moz-transition:    all 400ms ease-in-out;
  -o-transition:      all 400ms ease-in-out;
  -ms-transition:     all 400ms ease-in-out;
}

.participant .rotate-up {
  -webkit-transform:  rotate(180deg);
  -moz-transform:     rotate(180deg);
  -o-transform:       rotate(180deg);
  -ms-transform:      rotate(180deg);
}