// Place all the styles related to the Captures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.snapshot {
  width: 307px;
  height: 250px;
}

.video-stream {
  width: 307px;
  height: 250px;
}

.removal-button.active{
   margin-left:auto;
  margin-right:auto;
  background-color:#FFCCCC;
  color:red;
  padding:3px 10px;
  border:1px solid red;
  cursor:pointer;
}

.removal-button.inactive{
   margin-left:auto;
  margin-right:auto;
  background-color:#C0C0C0;
  color:gray;
  padding:3px 10px;
  border:1px solid gray;
  cursor:default;
}
