// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* SUPER CATEGORIES */

.super-category-information {
  list-style-type: none;

  li {
    .key {
      display: inline-block;
      width: 100px;
      text-align: left;
      font-weight: bold;
    }

    .value {
      display: inline-block;
      margin-left: 10px;
    }
  }

}

/* CATEGORIES */

.category-information {
  list-style-type: none;

  table {
    border: 1px solid gray;
    border-collapse: collapse;
  }

  td {
    padding: 7px;
    &.value {
      border-left: 1px solid #f0f0f0;
    }
  }

  tr:nth-child(even) {
    background-color: #F8F8F8;
  }

  li {

    .key {
      display: inline-block;
      width: 120px;
      text-align: left;
      font-weight: bold;
    }

    .value {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.category-items-information{
  display:block;
  padding-left:15px;

  li {
    .key{
      font-weight:normal;
      width:inherit;
      text-align:left;
    }

    .value{
      color:gray;
      width:inherit;
    }
  }
}

/* NESTED ITEMS */

.nested-value-information{
  display:block;
  padding-left:15px;

  li {
    .key{
      font-weight:normal;
      width:inherit;
      text-align:left;
    }

    .value{
      color:gray;
      width:inherit;
    }
  }
}

div.link-box {
  width: 475px;
  height: 150px;
  border: solid lightgrey 1px;
  padding: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: #ececec;
  }

  .icon-container {
    position: relative;
    top: 20px;
    width: 75px;

    .icon {
      font-size: 5em;

      &.color-gold {
        color: gold;
      }

      &.color-blue {
        color: dodgerblue;
      }

      &.color-green {
        color: #46db1d;
      }

      &.color-red {
        color: #db1b1b;
      }
    }
  }

  .title {
    position: relative;
    font-size: 2.2em;
    top: -38px;
    left: 90px;
  }

  .sub-title {
    position: relative;
    font-size: 1em;
    left: 92px;
    top: -30px;
    color: dimgrey;
  }
}