html {
  min-height: 100vh;
}

#experiment{
  background-color: #e1e1e1;
}

#nav_bar_title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  margin-top: -100px;
}

.event-name {
  margin-top: -20px;
}

.user-decoration {
  cursor:default;
}

.role-decoration {
  font-weight:bold;
  cursor:default;
}

.role-event-count-decoration {
  vertical-align:sub;
  font-size:smaller;
}

.navbar-default .navbar-text.nav-event-title {
  color: #000000;
}

.nav-logo {
  height: 40px;
  margin-left: -5px;
  margin-top: -8px;
}

body {
  padding-top: 53px;
}

.event-name {
  padding-top: 34px;
  padding-bottom: 34px;

  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.center-content {
  background-color: #f3f3f3;
  height: 100%;
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin-top: -10px;
}

.inner-content {
  margin: 0 auto;
  margin-top: 0px;
  padding: 15px;
  padding-top:0px;
  width: 90%;

  background-color: #ffffff;

  -webkit-box-shadow: 0px 5px 14px -6px black;
  -moz-box-shadow: 0px 5px 14px -6px black;
  box-shadow: 0px 5px 14px -6px black;
}

//.wrapepr {
//  width: 609px;
//}

.field input,select {
  width: 100%;
}

.vessel-description {
  width: 530px;
}

.super-un-slider{
  width: 100%;
  //float: left;
}

.super-slider-div{
  //float:  left;
  //position: relative;
  //left: 1000px;
}

///////////////////////////////////////
// EVENT STYLES

.exterminate2-button {
  margin-top: 10px;
  margin-right: 10px;
}


.super-category-wrapper {
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 10px;
}

.category-wrapper {
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 10px;
}

.category-item {
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 10px;
}



//////////////////////////////////////
/////// TEAM CATEGORIES

#team-categories {
  width: 90%;
}

.team-list {

  width: 358px;

  border: 1px;
  border-color: #000000;
  border-style: solid;
  -moz-border-radius: 15px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 5px 14px -6px black;
  -moz-box-shadow: 0px 5px 14px -6px black;
  box-shadow: 0px 5px 14px -6px black;

  padding: 10px;
  //margin: 3px;

}

.team-list-mobile {

  width: 100%;

  border: 1px;
  border-color: #000000;
  border-style: solid;
  -moz-border-radius: 15px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 5px 14px -6px black;
  -moz-box-shadow: 0px 5px 14px -6px black;
  box-shadow: 0px 5px 14px -6px black;

  padding: 20px;
  //margin: 3px;

}

///////////////////////////////////////
// FORM STYLES

form .card {
  border: solid 1px #000000;
  margin-bottom: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

form .card .header {
  height: 45px;
  background: grey;

  cursor: pointer;

  border: solid 1px grey;

  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

form .card .header.rounded-border {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

form .card .header .display-name {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 7px;
  margin-top: 11px;
}

form .card .header .chevron {
  color: white;
  font-size: 2em;
  margin-top: 6px;
  margin-right: 17px;

  -webkit-transition: all 400ms ease-in-out;
  -moz-transition:    all 400ms ease-in-out;
  -o-transition:      all 400ms ease-in-out;
  -ms-transition:     all 400ms ease-in-out;
}

form .card .header .chevron.rotate-up {
  -webkit-transform:  rotate(180deg);
  -moz-transform:     rotate(180deg);
  -o-transform:       rotate(180deg);
  -ms-transform:      rotate(180deg);
}


form .card .body {
  padding: 20px;
}


form .btn-file {
  position: relative;
  overflow: hidden;
}

form .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

//////////////////////////////////////
//// CAPUTURE STUFF

#participant_info {
  height: 280px;
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 10px;
}

#capture_info {
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 10px;
}

.add-captures-button{
  background-color: lightgreen;
  border:2px solid lightgreen;
}

.add-captures-button:hover {
  border:2px solid green;
}

#angler-selection{
  border:1px solid gray;
  padding:7px;
  border-radius:10px;
  margin-bottom:10px;
}

.participant-capture-info li label{
  width:75px;
  text-align: left;
}

#reader {
  border: solid;
  border-width: 1px;
  border-color: darkgrey;
}

.grayscale {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
}



//////////////////////////////////////
//// TEAM STUFF

.alert-error{
  color:red;
  font-size:larger;
  text-align:left;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  border:2px solid red;
  background-color:#FFC0C0;
  padding:6px;
  padding-left:15px;
  border-radius:10px;
}

.captain-info {
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 10px;
}

.participant {
  background-color:white;
}

.participant-info {
//  border: solid;
//  border-width: 1px;
//  border-color: lightgrey;
//  padding: 10px;
}

//////////////////////////////////////
//// PARTICIPANT STUFF

.id-card {
  border: solid;
  border-width: 1px;
  height: 290px;
  width: 590px;
}

//.id-card .id-inner table{
//  display: block;
//  position: relative;
//}

.id-card-event-header {
  width: 648px;
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
}

.id-info {
  left: -136px;
  margin: 8px auto 0;
  position: relative;
  top: -293px;
  z-index: 2;
}

.id-card img.qr-code {
  position: relative;
  right: -344px;
  top: -500px;
}

.id-info td {
  padding-top: 7px;
  padding-bottom: 7px;
}

.id-card .logo-image {
  left: 0;
  opacity: 0.13;
  position: relative;
  top: -87px;
  z-index: 1;
}

.id-card .id-inner td {
  font-size: 1.2em;
}

.current-team-row{

}

.not-current-team-row td{
  display:none;
}

a.text-white {
  color: white !important;

  >:visited {
    color: white !important;
  }
}
