
.no-messages {
  margin-bottom:20px;
  background-color:orange;
  display:inline-block;
}

.page-messages {
  background-color: #ffffff;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  padding:10px;
  border-left:1px solid gray;
  border-right:1px solid gray;
  border-bottom:1px solid gray;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow: 0px 5px 14px -6px black;

  &.flash-error, &.flash-errors {
    background-color:#FFC0C0;
  }

  &.flash-notice, &.flash-notices {
    background-color: #C0FFC0;
  }

  &.flash-alert, &.flash-alerts {
    background-color: #FFC0C0;
  }

  &.flash-success, &.flash-successes {
    background-color:#C0FFC0;
  }

}

.flash-messages {
  padding:0px;
  margin:0px;
  padding-left:25px;
}

.flash-header {
  font-weight:bold;
}

.flash-message {

  font-weight:bold;

  &.flash-error, &.flash-errors {
    color:red;
  }

  &.flash-alert, &.flash-alerts {
    color:red;
  }

  &.flash-notice, &.flash-notices {
    color:green;
  }

  &.flash-success, &.flash-successes {
    color:green;
  }

}