// Place all the styles related to the Participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.participant {
  border: solid 1px #000000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  .header {
    height: 45px;
    background: grey;

    cursor: pointer;

    border: solid 1px grey;

    -webkit-border-top-left-radius: 18px;
    -webkit-border-top-right-radius: 18px;
    -moz-border-radius-topleft: 18px;
    -moz-border-radius-topright: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    &.rounded-border {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }

    .warning {
      display: none;

      color: white;
      font-size: 1.2em;
      margin-left: 15px;
      margin-top: 11px;
    }

    .new-message {
      display: none;

      color: white;
      font-size: 1.2em;
      margin-left: 15px;
      margin-top: 11px;
    }

    .chevron {
      color: white;
      font-size: 2em;
      margin-top: 6px;
      margin-right: 17px;

      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      -ms-transition: all 400ms ease-in-out;

      &.rotate-up {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
      }
    }
  }

  .body {
    padding: 20px;
  }

  &.known {
    border: solid 1px #a3441d;

    .header {
      background: #e56028;
      border: solid 1px #e56028;

      .warning {
        display: inline-block;
      }

      .new-message {
        display: none;
      }
    }
  }

  &.new {
    border: solid 1px #1ba31f;

    .header {
      background: #23cb29;
      border: solid 1px #23cb29;

      .warning {
        display: none;
      }

      .new-message {
        display: inline-block;
      }
    }
  }
}