
/*PRINTABLE TABLES*/

.printable-table {

  margin-left:auto;
  margin-right:auto;
  text-align:left;

  th {
    border-bottom:1px solid #C0C0C0;
    padding-top:15px;
  }

  td, th{
    padding:1px;
  }

  .unit, .capture-count {
    color:gray;
    font-size:smaller;
  }

  .notes {
    color:gray;
    padding:2px;
    padding-left:12px !important;
    border-left:1px solid #C0C0C0;
    width:35%
  }

}

@media print {

    div.title-container:not(:first-of-type) {
        page-break-before: always;
    }

    div.table-container {
        page-break-inside: avoid;
    }
}