//#participants{
//  .dropzone {
//  }
//}

.participant {
  &.drag-drop {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

    transition: background-color 0.3s;
  }
}

.captain-dropzone{
  * .exterminate-button {
    display:none;
  }
}

.dropzone {
  background-color: #e0e0e0;
  border: dashed 2px grey;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 14px;
  transition: background-color 0.3s;

  &.drop-active {
    border-color: #e4e4e4;
    background-color: #e08986;
  }

  &.drop-target {
    background-color: #beecc7;
    border: solid #fff;
  }
}

.team-participant-name{
  font-weight:bold;
}

.team-show-list {
  list-style-type:none;

  .key {
    font-weight:bold;
    width:5em;
    text-align:right;
    display:inline-block;
  }

  .value {
    margin-left:20px;
  }

}

.empty-value{
  color:#C0C0C0;
}

table#suggestion_table {
  width: 70%;
  margin: 30px auto 0 auto !important;
  float: none !important;

  &>thead>tr>th, &>tbody>tr>th, &>tfoot>tr>th, &>thead>tr>td, &>tbody>tr>td, &>tfoot>tr>td {
    vertical-align: middle;
  }
}

.row>.loading-text {
  font-weight: bold;
}
