<%= fields_for @category do |f| %>

    <div class="card">

      <div class="body">

        <div class="row">

          <div class="field col-md-6">
            <%= f.label :name, 'Name' %>
            <%= f.text_field :name, :required => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-6">
            <%= f.label :subtitle, 'Subtitle' %>
            <%= f.text_field :subtitle, :required => false, :class => 'form-control' %>
          </div>

          <div class="field col-md-3">
            <%= f.label :super_category_id, 'Super Category' %>
            <%= f.select :super_category_id, SuperCategory.where(:event_id => Event.where(:slug => params[:event_slug])).collect { |sc| [sc.name, sc.id] }, :class => 'form-control' %>
          </div>

          <div class="field col-md-3">
            <%= f.label :positions, 'Number of Positions' %>
            <%= f.select :positions, options_for_select((1..20).step(1), @category.positions), { :include_blank => true, :class => 'form-control' }, { :required => true } %>
          </div>

          <div class="field col-md-3">
            <%= f.label :start_age, 'Start Age' %>
            <%= f.select :start_age, options_for_select((5..100).step(1), @category.start_age), :include_blank => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-3">
            <%= f.label :end_age, 'End Age' %>
            <%= f.select :end_age, options_for_select((5..100).step(1), @category.end_age), :include_blank => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-3">
            <%= f.label :valid_start_time, 'Start Time' %>
            <div class="date-wrapper">
              <div class="date-wrapper">
                <%= f.text_field :valid_start_time, :class => 'datetime-input form-control' %>
                <%= f.hidden_field :valid_start_time, :class => 'datetime-input date-value form-control' %>
              </div>
            </div>
          </div>

          <div class="field col-md-3">
            <%= f.label :valid_end_time, 'End Time' %>
            <div class="date-wrapper">
                <%= f.text_field :valid_end_time, :class => 'datetime-input form-control' %>
                <%= f.hidden_field :valid_end_time, :class => 'datetime-input date-value form-control' %>
            </div>
          </div>

          <div class="field col-md-3">
            <%= f.label :score_entity, 'Score Entity' %>
            <%= f.select :score_entity, Category::SCORE_ENTITY.invert, { :include_blank => true, :class => 'form-control'} , { :required => true } %>
          </div>

          <div class="field col-md-3">
            <%= f.label :category_type, 'Category Type' %>
            <%= f.select :category_type, Category::CATEGORY_TYPE.invert, { :include_blank => true, :class => 'form-control' }, { :required => true } %>
          </div>

          <div class="field col-md-3">
            <%= f.label :score_grouping, 'Score Grouping' %>
            <%= f.select :score_grouping, Category::SCORE_GROUPING.invert, { :include_blank => true, :class => 'form-control' }, { :required => true } %>
          </div>

          <div class="field col-md-3">
            <%= f.label :score_grouping_limit, 'Score Grouping Limit' %>
            <%= f.select :score_grouping_limit, options_for_select((1..20).step(1), @category.score_grouping_limit), { :include_blank => true, :class => 'form-control' } %>
          </div>

          <div class="field col-md-3">
            <%= f.label :display_mode, 'Display Mode' %>
            <%= f.select :display_mode, Category::DISPLAY_MODE.invert, { :include_blank => true, :class => 'form-control' }, { :required => true } %>
          </div>

          <div class="field col-md-3">
            <%= f.label :has_distinct_places, 'Has Distinct Places' %>
            <%= f.check_box :has_distinct_places, :class => 'form-control' %>
          </div>

          <div class="field col-md-3">
            <%= f.label :premium_category_grouping_id, 'Premium Category Grouping' %>
            <%= f.select :premium_category_grouping_id, PremiumCategoryGrouping.where(:event => @event).order('name asc').collect { |sc| [sc.name, sc.id] }, :include_blank => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-3">
            <%= f.label :gender_id, 'Gender' %>
            <%= f.select :gender_id, { Gender.all.first.name => Gender.all.first.id, Gender.all.second.name => Gender.all.second.id }, :include_blank => true, :class => 'form-control' %>
          </div>

        </div>

        <div class="row">

          <div class="field col-md-4">
            <%= f.label :score_1_source, 'Score 1 Source' %>
            <%= f.select :score_1_source, Category::SCORE_SOURCE.invert, { :include_blank => true, :class => 'form-control' }, { :required => true } %>
          </div>

          <div class="field col-md-4">
            <%= f.label :score_1_order, 'Score 1 Order' %>
            <%= f.select :score_1_order, Category::SCORE_ORDER.invert, { :include_blank => true, :class => 'form-control' }, { :required => true } %>
          </div>
        </div>

        <div class="row">

          <div class="field col-md-4">
            <%= f.label :score_2_source, 'Score 2 Source' %>
            <%= f.select :score_2_source, Category::SCORE_SOURCE.invert, :include_blank => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-4">
            <%= f.label :score_2_order, 'Score 2 Order' %>
            <%= f.select :score_2_order, Category::SCORE_ORDER.invert, :include_blank => true, :class => 'form-control' %>
          </div>


          <div class="field col-md-2">
            <%= f.label :score_2_is_random, 'Decided Randomly?' %>
            <%= f.check_box :score_2_is_random, :class => 'form-control' %>
          </div>
      </div>

      <div class="row">
          <div class="field col-md-4">
            <%= f.label :score_3_source, 'Score 3 Source' %>
            <%= f.select :score_3_source, Category::SCORE_SOURCE.invert, :include_blank => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-4">
            <%= f.label :score_3_order, 'Score 3 Order' %>
            <%= f.select :score_3_order, Category::SCORE_ORDER.invert, :include_blank => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-2">
            <%= f.label :score_3_is_random, 'Decided Randomly?' %>
            <%= f.check_box :score_3_is_random, :class => 'form-control' %>
          </div>
      </div>

        <div class="row">

          <div class="field col-md-4">
            <%= f.label :grouping_number, 'Group Number' %>
            <%= f.select :grouping_number, options_for_select((1..20).step(1), @category.grouping_number), :include_blank => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-4">
            <%= f.label :position, 'Position In Group' %>
            <%= f.select :position, options_for_select((0..20).step(1), @category.position), {:include_blank => true, :class => 'form-control'}, { :required => true } %>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-6">
                <%= f.label :category_text_color %> <br>
              </div>
            </div>

            <div class="row color-fields">
              <div class="col-md-6">
                <%= color_field_tag :category_text_color,  f.object.category_text_color.try(:upcase), :class => 'form-control color-picker' %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :category_text_color, value: f.object.category_text_color.try(:upcase) , :class =>'form-control color-field'%>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="row">
              <div class="col-md-6">
                <%= f.label :category_background_color %> <br>
              </div>
            </div>

            <div class="row color-fields">
              <div class="col-md-6">
                <%= color_field_tag :category_background_color,  f.object.category_background_color.try(:upcase), :class => 'form-control color-picker' %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :category_background_color, value: f.object.category_background_color.try(:upcase) , :class =>'form-control color-field'%>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

<% end %>