<h4><%= category.name %></h4>

<%
   ph = '<span class="empty-value">n/a</span>'.html_safe
   def make_text_preview(category)
     text = (category.category_text_color || 'Inherited') + ' on ' + (category.category_background_color || 'Inherited')
     return '<span style="margin:5px; margin-left:0px; padding:5px 20px; text-align:center; font-weight:bold; color:' + category.get_text_color + '; background-color:' + category.get_background_color + ';">' + text + '</span>'
    end
%>

<div class="category-information">
  <table id="event_categories">
    <tr>
      <td style="width:33%;">ID</td>
      <td class="value"><%= category.id.nil? ? ph : category.id.to_s.titleize %></td>
    </tr>
    <tr>
      <td>Subtitle</td>
      <td class="value"><%= category.subtitle.nil? ? ph : category.subtitle %></td>
    </tr>
    <tr>
      <td>Grouping</td>
      <td class="value"><%= "Grouping Number #{category.grouping_number} / Position #{category.position}" %></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td class="value"><%= category.gender.nil? ? ph : category.gender.name %></td>
    </tr>
    <tr>
      <td>Start Age</td>
      <td class="value"><%= category.start_age.nil? ? ph : category.start_age %></td>
    </tr>
    <tr>
      <td>End Age</td>
      <td class="value"><%= category.end_age.nil? ? ph : category.end_age %></td>
    </tr>
    <tr>
      <td>Positions</td>
      <td class="value"><%= category.positions.nil? ? ph : category.positions %></td>
    </tr>
    <tr>
      <td>Premium Category Grouping</td>
      <td class="value"><%= category.premium_category_grouping.try(:name) %></td>
    </tr>
    <tr>
      <td>Start Time</td>
      <td class="value"><%= category.valid_start_time.nil? ? nil : category.valid_start_time.in_time_zone(category.super_category.event.timezone).to_s %></td>
    </tr>
    <tr>
      <td>End Time</td>
      <td class="value"><%= category.valid_end_time.nil? ? nil : category.valid_end_time.in_time_zone(category.super_category.event.timezone).to_s %></td>
    </tr>
    <tr>
      <td>Score Entity</td>
      <td class="value"><%= category.score_entity.nil? ? ph : category.score_entity.to_s.titleize %></td>
    </tr>
    <tr>
      <td>Distinct Places</td>
      <td class="value"><%= category.has_distinct_places.nil? ? ph : category.has_distinct_places ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <td>Source 1</td>
      <td class="value"><%= category.score_1_source.nil? ? ph : category.score_1_source.to_s.titleize + ', ' + category.score_1_order.to_s.titleize %></td>
    </tr>
    <tr>
      <td>Source 2</td>
      <td class="value"><%= category.score_2_source.nil? ? ph : category.score_2_source.to_s.titleize + ', ' + category.score_2_order.to_s.titleize + (category.score_2_is_random ? ' (Decided Randomly)' : '') %></td>
    </tr>
    <tr>
      <td>Source 3</td>
      <td class="value"><%= category.score_3_source.nil? ? ph : category.score_3_source.to_s.titleize + ', ' + category.score_3_order.to_s.titleize + (category.score_3_is_random ? ' (Decided Randomly)' : '') %></td>
    </tr>
    <tr>
      <td>Display Mode</td>
      <td class="value"><%= category.display_mode.to_s.titleize %></td>
    </tr>
    <tr>
      <%
         gr = category.score_grouping.nil? ? ph : category.score_grouping.to_s.titleize
         if (category.score_grouping.to_s == 'top_n')
           gr = gr + " (#{category.score_grouping_limit})"
         end
      %>
      <td>Score Grouping</td>
      <td class="value"><%= gr %></td>
    </tr>
    <tr>
      <td>Type</td>
      <td class="value"><%= category.category_type.nil? ? ph : category.category_type.to_s.titleize %></td>
    </tr>
    <% if category.category_type.to_s == 'species_unit' %>
    <tr>
      <td>Species Unit</td>
      <td class="value"><%= category.category_species_unit_items.first.nil? ? ph : category.category_species_unit_items.first.unit.description %></td>
    </tr>
    <% end %>
    <tr>
      <td>Items</td>
      <%
         items = {}
         if category.category_type.to_s == 'species_unit'
           category.category_species_unit_items.each do |item|
             items[item.species.name] = nil
           end

        elsif category.category_type.to_s == 'species_capture'
         category.category_species_capture_items.each do |item|
           items[item.species.name] = nil
         end

         elsif category.category_type.to_s == 'species_points'
           category.category_species_points_items.each do |item|
             items[item.species.name] = item.points.to_s + ' Points'
           end

         elsif category.category_type.to_s == 'group'
           category.category_grouping_items.order('place ASC').each do |item|
             inner = []
             item.category_grouping_item_super_categories.each do |cat|
               inner << cat.super_category.name + ' (' + cat.super_category.id.to_s + ')'
             end
             items[('Place ' + item.place.to_s + ' &rarr; ' + item.points.to_s + ' Points').html_safe] = inner
           end
           puts items.to_s
         else
           raise 'Unknown category type.'
         end
         if items.length == 0
           items = nil
         end
      %>
      <td class="value">
        <% if items.nil? %>
            <!-- It's Empty -->
            <%= ph %>
        <% else %>
            <ul style="list-style-type:square">
              <% items.each do |k, v| %>
                  <li><%= k.to_s %></li>
                  <% if v.kind_of?(Array) %>
                    <%= v.join(', ') %>
                  <% else %>
                      <% if v != nil %>
                          &rarr;
                          <%= v.to_s %>
                      <% end %>
                  <% end %>

              <% end %>
            </ul>
        <% end %>

      </td>
    </tr>

    <tr>
      <td>Generated Description</td>
      <td class="value"><%= category.get_description %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td class="value"><%= category.description || ph%></td>
    </tr>
    <tr>
      <td>Additional Description</td>
      <td class="value"><%= category.additional_description || ph%></td>
    </tr>
    <tr>
      <td>Colors</td>
      <td class="value"><%= make_text_preview(category).html_safe %></td>
    </tr>
  </table>
</div>