<style type="text/css">
  .super-category-row td {
    text-align:center;
    font-weight:bold;
    color:white;
  }
</style>

<% super_category = nil %>

<h1>Categories</h1>
<table class="table table-striped">
  <% @categories.each do |category| %>
      <% if super_category != category.super_category.id %>
        <tr class="super-category-row">
            <td colspan="5" style="background-color:<%= category.super_category.get_background_color %>; color:<%= category.super_category.get_text_color %>;"><%= category.super_category.name %></td>
        </tr>
        <% super_category = category.super_category.id %>
      <% end %>
      <tr>
        <td><%= category.grouping_number.to_s + '.' + category.position.to_s %></td>
        <td>
          <%= category.name %>
          <% if !category.subtitle.nil? %>
            <span style="color:gray;"> (<%= category.subtitle %>)</span>
          <% end %>
        </td>
        <td><%= category.premium_category_grouping.nil? ? '' : category.premium_category_grouping.name %></td>
        <td><% if can? :show, category %><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, category_path(:event_slug => @event.slug, :id => category.id) %><% end %></td>
        <td><% if can? :edit, category %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_path(:event_slug => @event.slug, :id => category.id) %><% end %></td>
      </tr>
  <% end %>
</table>

<% if can? :create, Category %>
    <%= link_to 'New Category', new_category_path(:event_slug => @event.slug), :class=>'btn btn-default' %>
<% end %>