<script type="text/javascript">
    var LB_OPTIONS = {
        teamID : null,
        mode : Leaderboard.constants.STATIC,
        rankingsURL : "<%= escape_javascript(leaderboard_api_unlimited_path(:event_slug => @event.slug)).html_safe %>",
        websocketSubscription : 'event_<%= @event.id.to_s %>_unlimited_leaderboard'
    };
</script>
<%= render :partial => '/leaderboard/leaderboard_page', :locals => {:event => @category.super_category.event, :team => nil, :categories => [@category], :make_category_links => false, :include_descriptions => false} %>