<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<p>
  <b>Super Category:</b>
  <%= SuperCategory.where(:id => @category.super_category_id).first.name %>
</p>

<%= render :partial => 'summary_box', :locals => {:category => @category} %>

<br/>

<% if can? :edit, @category %><%= link_to 'Edit', edit_category_path(:event_slug => @event.slug, :id => @category.id), :class=>'btn btn-default' %><% end %>
<% if can? :destroy, @category %><%= link_to 'Delete', category_path(:event_slug => @event.slug, :category_id => @category.id), :confirm => "Delete this category?", :method => :delete, :class=>'btn btn-default' %><% end %>
<%= link_to 'Show Items', category_category_items_path(:event_slug => @event.slug, :category_id => @category.id), :class=>'btn btn-default' %>
<%= link_to 'Back', :back, :class=>'btn btn-default' %>