<div style="display:inline-block;" class="print-buttons" data-id="<%= team.id %>">
  <%= link_to 'Waiting...', '#', class: "btn btn-warning waiting-button #{ 'hidden' if team.pending_jobs.count == 0}", disabled: 'disabled' %>
  <%= link_to 'Print Badges', badges_team_path(:event_slug => event.slug, :id => team.id), class: "btn btn-default print-button #{'hidden' if team.pending_jobs.count > 0}" %>
</div>