Welcome to the Fishing Rodeo
===============================================

You have successfully signed up as a team.

Here is the link to edit your team: <%= @url %>.

Thanks for joining and have a great day!
