<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to the Fishing Rodeo</h1>
<p>
  You have successfully signed up as a team. <br>
</p>
<p>
  Here is the link to edit your team: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>