<%= fields_for @super_category do |f| %>

    <div class="card">

      <div class="body">

        <div class="row">

          <div class="field col-md-6">
            <%= f.label :name, 'Name' %>
            <%= f.text_field :name, :required => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-3">
            <%= f.label :page, 'Page' %>
            <%= f.select :page, options_for_select((1..10).step(1), @super_category.page), :include_blank => true, :class => 'form-control' %>
          </div>

          <div class="field col-md-3">
            <%= f.label :position, 'Position' %>
            <%= f.select :position, options_for_select((1..10).step(1), @super_category.position), :include_blank => true, :class => 'form-control' %>
          </div>

        </div>

        <div class="row">

          <div class="col-md-6">

            <div class="row">
              <div class="col-md-6">
                <%= f.label :category_text_color %> <br>
              </div>
            </div>

            <div class="row color-fields">
              <div class="col-md-6">
                <%= color_field_tag :category_text_color,  f.object.category_text_color.try(:upcase), :class => 'form-control color-picker' %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :category_text_color, value: f.object.category_text_color.try(:upcase) , :class =>'form-control color-field'%>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="row">
              <div class="col-md-6">
                <%= f.label :category_background_color %> <br>
              </div>
            </div>

            <div class="row color-fields">
              <div class="col-md-6">
                <%= color_field_tag :category_background_color,  f.object.category_background_color.try(:upcase), :class => 'form-control color-picker' %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :category_background_color, value: f.object.category_background_color.try(:upcase) , :class =>'form-control color-field'%>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

<% end %>