<h1><u><%= @categories.first.super_category.name %></u> Categories</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, category_path(:event_slug => @event.slug, :id => category.id) %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_path(:event_slug => @event.slug, :id => category.id) %></td>
      </tr>
  <% end %>
</table>