<h1>Super Categories</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Categories</th>
    <th></th>
    <th></th>
  </tr>

  <% @super_categories.each do |super_category| %>
      <tr>
        <td><%= super_category.name %></td>
        <td><%= super_category.categories.count %></td>
        <td><% if can? :show, super_category %><%= link_to '<i class="fa fa-folder-open"></i>'.html_safe, super_category_path(:event_slug => @event.slug, :id => super_category.id) %><% end %></td>
        <td><% if can? :edit, super_category %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_super_category_path(:event_slug => @event.slug, :id => super_category.id) %><% end %></td>
      </tr>
  <% end %>
</table>

<% if can? :create, SuperCategory %>
    <%= link_to 'New Super Category', new_super_category_path(:event_slug => @event.slug), :class=>'btn btn-default' %>
<% end %>