<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @super_category.name %>
</p>

<p>
  <b>Event:</b>
  <%= @super_category.event.name %>
</p>

<p>
  <b>Page:</b>
  <%= @super_category.page %>
</p>

<p>
  <b>Position:</b>
  <%= @super_category.position %>
</p>

<% if can? :edit, @super_category %><%= link_to 'Edit', edit_super_category_path(:event_slug => @event.slug, :id => @super_category.id) , :class=>'btn btn-default'%><% end %>
<% if can? :destroy, @super_category %><%= link_to 'Delete', super_category_path(:event_slug => @event.slug, :id => @super_category.id), :confirm => "Delete this super category?", :method => :delete, :class=>'btn btn-default' %><% end %>
<% if Category.where(:super_category_id => @super_category.id).count > 0 %>
    <%= link_to 'Show Categories', super_category_categories_path(:event_slug => @event.slug, :super_category_id => @super_category.id), :class=>'btn btn-default' %>
<% end %>
<%= link_to 'Back', :back, :class=>'btn btn-default' %>