<style type="text/css">
    #big-header {
        margin-top:  45px;
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="<%= event_landing_path(:event_slug => @event.slug) %>">
        <%= @event.icon.nil? ? 'Home' : image_tag(@event.icon.url, class: 'nav-logo') %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <% if can? :index, Participant %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Participants <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if can? :index, Participant %><li><a href="<%= participants_path(:event_slug => @event.slug) %>">List</a></li><% end %>
                <% if can? :index, Participant %>
                    <li class="divider"></li>
                    <li><a href="<%= participants_path(:event_slug => @event.slug, format: 'xlsx') %>">Download</a></li>
                <% end %>
              </ul>
            </li>
        <% end %>

        <% if (can? :index, Team) || (can? :create, Team) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if can? :index, Team %><li><a href="<%= teams_path(:event_slug => @event.slug) %>">List</a></li><% end %>
                <% if can? :create, Team %><li><a href="<%= teams_team_lookup_path(:event_slug => @event.slug) %>">New</a></li><% end %>
                <% if can? :index, Team %>
                    <li class="divider"></li>
                    <li><%= link_to 'Download Team Spreadsheet', teams_path(:event_slug => @event.slug, :format => :xlsx), method: :get %></li>
                <% end %>
              </ul>
            </li>
        <% end %>

        <% if (can? :index, EventScaleOpening) || (can? :create, EventScaleOpening) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scale Openings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if can? :index, EventScaleOpening %><li><a href="<%= event_scale_openings_path(:event_slug => @event.slug) %>">List</a></li><% end %>
                <% if can? :create, EventScaleOpening %><li><a href="<%= new_event_scale_opening_path(:event_slug => @event.slug) %>">New</a></li><% end %>
              </ul>
            </li>
        <% end %>

        <% if (can? :index, Category) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scoring <b class="caret"></b></a>
              <ul class="dropdown-menu multi-level">

                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Categories</a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= categories_path(:event_slug => @event.slug) %>">List</a></li>
                    <% if can? :create, Category %><li><a href="<%= new_category_path(:event_slug => @event.slug) %>">New</a></li><% end %>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Super Categories</a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= super_categories_path(:event_slug => @event.slug) %>">List</a></li>
                    <% if can? :create, SuperCategory %><li><a href="<%= new_super_category_path(:event_slug => @event.slug) %>">New</a></li><% end %>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Premium Category Groupings</a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= premium_category_groupings_path(:event_slug => @event.slug) %>">List</a></li>
                    <% if can? :create, PremiumCategoryGrouping %><li><a href="<%= new_premium_category_grouping_path(:event_slug => @event.slug) %>">New</a></li><% end %>
                  </ul>
                </li>

                <li class="divider"></li>
                <li><a href="<%= reports_categories_path(:event_slug => @event.slug) %>">Summary</a></li>
              </ul>
            </li>
        <% end %>

        <% if (can? :index, Capture) || (can? :create, Capture) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Captures <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if can? :index, Capture %><li><a href="<%= captures_path(:event_slug => @event.slug, :page => 1) %>">List</a></li><% end %>
                <% if can? :create, Capture %><li><a href="<%= new_capture_path(:event_slug => @event.slug) %>">New</a></li><% end %>
                <% if can? :index, Capture %>
                    <li class="divider"></li>
                    <li><a href="<%= captures_path(:event_slug => @event.slug, format: 'xlsx') %>">Download</a></li>
                <% end %>
              </ul>
            </li>
        <% end %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= leaderboard_path(:event_slug => @event.slug) %>">Leaderboard</a></li>
            <li><a href="<%= "/#{@event.slug.html_safe}/teams" %>">Team List</a></li>
            <li><a href="<%= facts_path(:event_slug => @event.slug) %>">Facts Page</a></li>
            <% if can? :show, @event %><li><a href="<%= reports_team_categories_path(@event.slug) %>">Team Categories</a></li><% end %>
            <% if can? :show, @event %><li><a href="<%= reports_results_path(:event_slug => @event.slug) %>">Printable Results</a></li><% end %>
            <% if can? :send_sms_messages, @event %><li><a href="<%= sms_path(event_slug: @event.slug) %>">Send SMS Reports</a></li><% end %>
          </ul>
        </li>

        <% if can? :index, Event %>
            <li><%= link_to 'Admin', '/admin' %></li>
        <% end %>
      </ul>

      <p class="navbar-text pull-right nav-event-title" style="display: none"><%= @event.nil? ? 'Geaux Fish Louisiana Rodeos' : @event.name  %></p>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.decorated_name(@event) %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li style="border-left:1px solid #c0c0c0;"><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>