<div class="wrapper text-center">

  <!-- BEGIN Dark navigation bar -->
  <nav class="dark">
    <ul class="clear">
      <li><a data-load="<%= admin_path(:event_slug => @event.slug)%>">Home</a></li>

      <li><a data-load="<%= participants_path(:event_slug => @event.slug) %>">Participants</a>
        <ul>
          <li><a data-load="<%= new_participant_path(:event_slug => @event.slug) %>">New</a></li>
        </ul>
      </li>

      <li><a data-load="<%= teams_path(:event_slug => @event.slug) %>">Teams</a>
        <ul>
          <li><a data-load="<%= new_team_path(:event_slug => @event.slug) %>">New</a></li>
          <li><form method="get" action="<%= teams_path(:event_slug => @event.slug, :format => :xlsx) %>">
            <button type="submit">Team Edit SpreadSheet</button>
          </form></li>
        </ul>
      </li>

      </li>
      <li><a data-load="<%= captures_path(:event_slug => @event.slug) %>">Captures</a>
        <ul>
          <li><a data-load="<%= new_capture_path(:event_slug => @event.slug) %>">New</a></li>
        </ul>
      </li>

    </ul>
  </nav>
  <!-- END Dark navigation bar -->
</div>