<%
   messages = flash
   message_types = (messages.keys - ['header']).uniq
   if message_types.count == 1
        message_class = message_types.first
    else
        message_class = ''
    end
%>

<% if message_types.count == 1 %>
    <script type="text/javascript">
      $(document).on('ready',function(){
          window.setTimeout(function() {
              $('.page-messages').animate({backgroundColor: '#FFFFFF'}, 3000);
          },100);
      })
    </script>
<% end %>

<% if messages.nil? or messages.count == 0 %>
    <div class="no-messages"></div>
<% else %>
    <div class="page-messages flash-<%= message_class %>">
      <% if defined?(messages['header']) and !messages['header'].nil? %>
          <div class="flash-header">
            <%= messages['header'] %>
          </div>
          <hr style="margin-top:5px; margin-bottom:5px;"/>
      <% end %>
      <ul class="flash-messages">
        <% messages.each do |key, value| %>
            <% next if (value.nil? or key == 'header') %>
            <% if value.kind_of?(Array) %>
                <% value.each do |v| %>
                    <li class="flash-message flash-<%= key.singularize %>"><%= v %></li>
                <% end %>
            <% else %>
                <li class="flash-message flash-<%= key %>"><%= value %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>

<%
   #Now remove all the flash messages.
   flash.delete(:error)
   flash.delete(:errors)
   flash.delete(:notice)
   flash.delete(:notices)
   flash.delete(:success)
   flash.delete(:successes)
   flash.delete(:header)
%>