<!DOCTYPE html>
<html>
<head>
  <title><%= @event.nil? ? 'Rodeo' : @event.name %></title>
  <%= render :partial => 'layouts/favicon' %>

  <%= stylesheet_link_tag 'bootstrap.min', :media => "all" %>
  <%= stylesheet_link_tag 'jquery-ui.css', :media => "all" %>
  <%= stylesheet_link_tag 'jquery.datetimepicker.css' %>
  <%= stylesheet_link_tag 'validationEngine.jquery.css' %>
  <%= stylesheet_link_tag 'application', :media => "all" %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.history' %>
  <%= javascript_include_tag 'jquery.inputmask.bundle.min' %>
  <%= javascript_include_tag 'jquery.scrollto' %>
  <%= javascript_include_tag 'inflection' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jquery.validationEngine-en' %>
  <%= javascript_include_tag 'jquery.validationEngine' %>
  <%= javascript_include_tag 'jquery.datetimepicker' %>
  <%= javascript_include_tag 'sugar.min' %>


    <style type="text/css">

      <% if @event.nil? %>
        #big-header {
          margin-top: -10px;
          background-color: <%= default_banner_color %>;
        }
      <% else %>
        #big-header {
          background-color: <%= @event.banner_color %>;
        }
      <% end %>

      .event-header-logo {
        height: 70px;
        margin-top: 10px;
      }

      .event-name {
        margin-bottom: 0;
        margin-top: -10px;
      }

      body {
       padding-top: 0px;
      }

    </style>


  <%= csrf_meta_tags %>
</head>

  <body id="experiment">

    <div id="big-header">

      <div class="container-fluid">

        <div class="row">

          <div class="col-md-1">
            <a href="<%= event_landing_path(:event_slug => @event.slug) %>">
              <%= link_to(image_tag(@event.icon.url, class: 'pull-left event-header-logo'), event_landing_path(event_slug: @event.slug)) unless @event.nil? and @event.icon.nil? %>
            </a>
          </div>

          <div class="col-md-10">
            <h2 class="text-center event-name">
              <%= @event.nil? ? 'Geaux Fish Louisiana Rodeos' : @event.name %>
            </h2>
          </div>

        </div>

      </div>



    </div>

    <div class="center-content">
      <div class="inner-content">
        <%= yield %>
      </div>
    </div>

    <%= render 'nav/tracking' %>
    <% flash.clear %>

  </body>

</html>
