<!DOCTYPE html>
<html>
<head>
  <title><%= @event.name %></title>
  <%= render :partial => 'layouts/favicon' %>

  <%= stylesheet_link_tag 'bootstrap.min', :media => "all" %>
  <%= stylesheet_link_tag 'jquery-ui.css', :media => "all" %>
  <%= stylesheet_link_tag 'validationEngine.jquery.css' %>
  <%= stylesheet_link_tag 'jquery.datetimepicker.css' %>
  <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css', :media => "all" %>
  <%= stylesheet_link_tag 'application', :media => "all" %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.history' %>
  <%= javascript_include_tag 'jquery.inputmask.bundle.min' %>
  <%= javascript_include_tag 'jquery.scrollto' %>
  <%= javascript_include_tag 'inflection' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jquery.validationEngine-en' %>
  <%= javascript_include_tag 'jquery.validationEngine' %>
  <%= javascript_include_tag 'jquery.datetimepicker' %>
  <%= javascript_include_tag 'sugar.min' %>
  <%= javascript_include_tag '//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js' %>


  <%= csrf_meta_tags %>

  <style type="text/css">

      #big-header {
          background-color: <%= !@event.nil? ? @event.banner_color : default_banner_color %>;
      }

    .logo {
      width: 138px;
      height: 138px;
      position: absolute;
      left: 32px;
      top: 6px;
    }

  </style>
</head>

<body>

<% if can? :see_navbar, @event %>
    <%= render 'nav/event_navbar'%>
<% end %>

<div id="big-header">
  <% if current_user.nil? && @event && @event.icon.path != nil  %>
      <%= link_to image_tag(@event.icon.url, class: 'pull-left event-header-logo facts'), event_landing_path(event_slug: @event.slug) %>
  <% end  %>

  <h2 class="text-center event-name">
    <%= @event.nil? ? 'Geaux Fish Louisiana Rodeos' : @event.name %>
  </h2>
</div>

<div class="center-content">
  <div class="inner-content">
    <%= render :partial => 'layouts/errors' %>
    <%= yield %>
  </div>
</div>

<%= render 'nav/tracking' %>
<% flash.clear %>

</body>
</html>
