<!DOCTYPE html>
<html>
    <head>
        <%= render :partial => 'layouts/favicon' %>
        <meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4" />
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'bootstrap.min', :media => "all" %>
        <%= stylesheet_link_tag 'jquery-ui.css', :media => "all" %>
        <%= stylesheet_link_tag 'jquery.datetimepicker.css' %>
        <%= stylesheet_link_tag 'validationEngine.jquery.css' %>
        <%= stylesheet_link_tag 'spinner' %>
      <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css', :media => "all" %>
        <%= stylesheet_link_tag 'application', :media => "all" %>

        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag 'jquery.history' %>
        <%= javascript_include_tag 'jquery.inputmask' %>
        <%= javascript_include_tag 'jquery.scrollto' %>
        <%= javascript_include_tag 'inflection' %>
        <%= javascript_include_tag 'bootstrap.min' %>

        <%= javascript_include_tag 'jquery-ui.js' %>

        <%= javascript_include_tag 'sugar.min' %>

        <%= javascript_include_tag 'leaderboard' %>

      <%= javascript_include_tag '//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js' %>
      <%= javascript_include_tag '//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js' %>

        <%= yield :head %>
    </head>
  <body>

    <%= yield %>
    <%= render 'nav/tracking' %>
    <% flash.clear %>

  </body>
</html>