<!DOCTYPE html>
<html>
<head>
  <title>Rodeo</title>
  <%= render :partial => 'layouts/favicon' %>

  <%= stylesheet_link_tag 'jquery-ui.css', :media => "all" %>
  <%= stylesheet_link_tag 'bootstrap.min', :media => "all" %>
  <%= stylesheet_link_tag 'application', :media => "screen" %>
  <%= stylesheet_link_tag 'box-container', :media => "all" %>
  <%= stylesheet_link_tag 'printable.css', :media => 'all' %>
  <%= stylesheet_link_tag 'printable.css', :media => 'print' %>
  <%#todo try and see if changing the above to 'screen' will fix the mobile stylesheet issues. %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.history' %>
  <%= javascript_include_tag 'jquery.inputmask' %>
  <%= javascript_include_tag 'jquery.masonry.min' %>
  <%= javascript_include_tag 'inflection' %>
  <%= javascript_include_tag 'sugar.min.js' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'bootstrap.min' %>

  <%= csrf_meta_tags %>
</head>

<body style="padding:0px; margin:0px;">
   <%= yield %>

   <%= render 'nav/tracking' %>
   <% flash.clear %>

</body>
</html>
